
{{!-- Un message dans votre boîte mail attire votre attention :

Objet : Demande de collaboration pour le développement de la plateforme UrbanRoots

Bonjour,
J'espère que vous allez bien. Je me permets de vous contacter car nous recherchons un prestataire
capable de nous accompagner dans le développement de notre nouvelle plateforme, UrbanRoots,
dédiée au jardinage urbain collaboratif.
Nous souhaitons intégrer les fonctionnalités suivantes :
Une carte interactive pour localiser et créer des espaces de jardinage
Une plateforme d'échanges pour partager ressources et conseils
Des forums communautaires pour discussions et organisation d'événements
Des modules éducatifs sur le jardinage urbain
Un outil de suivi environnemental pour mesurer les impacts des actions des utilisateurs
Permettre la recherche et intégrer un système de filtrage selon divers critères (catégorie,
distance, valeur estimée, etc.)
Proposer un système d'évaluation des échanges et des utilisateurs
Nous privilégions les propositions qui mettent en avant une démarche éco-responsable et
communautaire tout au long du développement du projet.
Merci d'avance pour votre proposition.

Cordialement,

L'équipe du projet "Troc éco-responsable"

Après avoir pris connaissance du message, vous décidez de participer à cet appel d'offres. Vous
prévoyez que le projet prendra environ 3 mois pour un coût de 16 500€, en garantissant une réalisation
éthique et respectueuse de l'environnement.

PAGE / faq  --}}



<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notre espace communautaire - Urban-Roots</title>

    <!-- SEO Meta Tags -->
    <meta name="description" content="Rejoignez notre espace communautaire Urban-Roots, un lieu d'échange pour passionnés de jardinage urbain. Découvrez des ressources, conseils, forums, et modules éducatifs !">
    <meta name="author" content="Urban-Roots">

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Notre espace communautaire - Urban-Roots">
    <meta property="og:description" content="Rejoignez notre espace communautaire Urban-Roots, un lieu d'échange pour passionnés de jardinage urbain. Découvrez des ressources, conseils, forums, et modules éducatifs !">
    <meta property="og:image" content="/img/Hero-Image.svg">
    <meta property="og:url" content="https://www.urbanroot.fr/espace-communautaire">
    <meta property="og:type" content="website">

    <!-- Canonical Link -->
    <link rel="canonical" href="https://www.urbanroot.fr/espace-communautaire">
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <link href="/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/2.4.2/uicons-regular-rounded/css/uicons-regular-rounded.css">
</head>


<body>
<!-- Header -->
<header id="header" class=" flex fixed top-0 left-0 w-full z-50">
    <div class="header-desktop">
        <a href="/">
            <p class="heading3">Urban-Roots</p>
        </a>
        <div class="hidden xl:flex menu-desktop">
            <a href="/espace-jardinage" class="desktop-navlink">Espace jardinage</a>
            <a href="/espace-communautaire" class="desktop-navlink activ-nav">Espace communautaire</a>
            <a href="/blog" class="desktop-navlink">Modules éducatifs</a>
            <a href="/faq" class="desktop-navlink">FAQ</a>
            <a href="/contact" class="desktop-navlink">Contact</a>
        </div>
    </div>

    <div id="menu-burger" class="xl:hidden">
        <img src="/img/fi-rr-menu-burger.svg" alt="menu-burger" id="burger-icon">
    </div>
</header>
<main>
<!-- Fullscreen menu -->
    <nav id="fullscreen-menu" class="fixed inset-0 hidden z-40">
        <div>
            <a href="/espace-jardinage">Espace jardinage</a>
            <a href="/espace-communautaire">Espace communautaire</a>
            <a href="/blog">Modules éducatifs</a>
            <a href="/faq">FAQ</a>
            <a href="/contact">Contact</a>
        </div>
    </nav>

    <!-- Popup -->
    <div id="popup-overlay" class="fixed inset-0 hidden z-50 flex items-center justify-center">
        <div id="popup" class="nl-signup">
            <div class="popup-close">
                <div class="p-2 rounded-xl	">
                    <img src="/img/close-svgrepo-com.svg" id="close-popup" class=" cursor-pointer w-6 h-6" alt="icon close popup">
                </div>
            </div>
            <h3 class="heading3">
                Inscrivez-vous dès aujourd'hui et soyez les premiers informés !
            </h3>
            <p>Soyez les premiers informés et profitez d'un accès exclusif en avant-première !</p>
            <form action="https://app.us17.list-manage.com/subscribe/post?u=6bb0a21d1079de766e0f857a5&amp;id=d799be0915&amp;f_id=0008e1e3f0" method="post" name="mc-embedded-subscribe-form" target="_blank">
                <div class="signup-form">
                    <input placeholder="Entrez votre adresse e-mail" type="email" name="EMAIL" id="mce-EMAIL" required>
                    <div class="response hidden" id="mce-error-response"></div>
                    <div class="response hidden" id="mce-success-response"></div>
                    <button type="submit" name="subscribe" class="cta-lg primary-cta">
                        <span>Je m'inscris</span>
                        <img src="/img/arrow-right-svgrepo-com.svg" class="w-6 h-6" alt="arrow-right">
                    </button>
                </div>
            </form>
        </div>
    </div>

<section class="grid grid-cols-8 w-full my-16">
    <div class="column-left col-span-2 flex flex-col m-12">
        <div class="flex flex-col gap-2 mb-10">
            <button type="button" class="p-3 flex gap-5 cta-column-left rounded-lg fit-content">
                <i class="fi fi-rr-home"></i>
                <span>Accueil</span>
            </button>
            <button type="button" class="p-3 flex gap-5 cta-column-left rounded-lg fit-content">
                <i class="fi fi-rr-comment"></i>
                <span>Mes posts</span>
            </button>
            <button type="button" class="p-3 flex gap-5 cta-column-left rounded-lg fit-content">
                <i class="fi fi-rr-bookmark"></i>
                <span>Mes favoris</span>
            </button>
        </div>
        <h2 class="heading4 mb-3">Sujet en tendance</h2>

        <div class="flex flex-col gap-5">
            <button type="button" class="p-3 flex gap-5 rounded-lg fit-content cta-tendance">
                <div class="flex flex-col items-start">
                    <p class="text-base font-bold">Agriculture</p>
                    <p class="text-sm">20/07/2024 - 17:38</p>
                </div>
                <span class="text-sm font-bold  cta-column-left-topic rounded-xl p-4">2</span>
            </button>
            <button type="button" class="p-3 flex gap-5 rounded-lg fit-content cta-tendance">
                <div class="flex flex-col items-start">
                    <p class="text-base font-bold">Ressources</p>
                    <p class="text-sm">01/07/2024 - 21:47</p>
                </div>
                <span class="text-sm font-bold  cta-column-left-topic rounded-xl p-4">49</span>
            </button>
            <button type="button" class="p-3 flex gap-5 rounded-lg fit-content cta-tendance">
                <div class="flex flex-col items-start">
                    <p class="text-base font-bold">Ressources</p>
                    <p class="text-sm">01/07/2024 - 21:47</p>
                </div>
                <span class="text-sm font-bold  cta-column-left-topic rounded-xl p-4">49</span>
            </button>
        </div>
    </div>
    <div class="column-center col-span-6 m-12 flex flex-col gap-6">
        <div class="flex input-new-post p-4 rounded-xl w-fill-available justify-between">
            <input type="text" placeholder="Créez un nouveau post" class="input-create-post w-inherit">
            <button type="button" class="cta-create-post p-2 rounded-lg"><img src="/img/plus.png" alt="icon plus"></button>
        </div>


        <div class="flex flex-col post p-8 rounded-xl w-fill-available gap-5">
            <h2 class="heading4">Titre du post</h2>
            <div class="flex gap-5 justify-between">
                <div class="flex gap-4">
                    <img src="/img/fille-brune-posant.jpg" width="56" alt="image de photo de profil" class="rounded-xl">
                    <div>
                        <p class="text-sm font-bold">Olivia</p>
                        <p class="text-sm">Il y a 12heures</p>
                    </div>
                </div>
                <div>
                    <button type="button" class="cta-post-tag p-2 rounded-lg">Nouveau membre</button>
                </div>
            </div>

            <!-- Contenu du post -->
            <div class="text-gray-800 leading-relaxed mb-4">
                <p>Bonjour à tous,</p>
                <p>Je souhaite partager avec vous quelques conseils pour réussir la plantation de tomates sur un balcon. Voici quelques étapes clés :</p>
                <ul class="list-disc list-inside ml-4">
                    <li>Choisissez des variétés adaptées à la culture en pot.</li>
                    <li>Utilisez un terreau de qualité et des pots assez grands.</li>
                    <li>Assurez-vous que les plants reçoivent au moins 6 heures de soleil par jour.</li>
                    <li>Arrosez régulièrement, mais sans excès pour éviter le pourrissement des racines.</li>
                    <li>Pensez à tuteurer les plants pour les soutenir à mesure qu'ils grandissent.</li>
                <p>N'hésitez pas à partager vos propres astuces et expériences !</p>
            </div>

                    <!-- Boutons d'interaction -->
        <div class="flex gap-5 mb-4">
            <div class="flex items-center">
                <button class="p-3 flex gap-5 cta-column-left rounded-xl fit-content">
                    <i class="fi fi-rr-bookmark"></i>
                </button>
            </div>
            <div class="flex items-center gap-4">
                <button id="ajouter-une-reponse" class="p-3 flex gap-5 cta-column-left rounded-xl fit-content">
                    <i class="fi fi-rr-comment"></i>
                    Ajouter une réponse
                </button>
            </div>
        </div>

        <!-- Réponses -->
        <div class="flex post p-8 rounded-xl w-full gap-5 hidden" id="ecrire-une-reponse">
            <input type="text" placeholder="Votre réponse" class="input-create-post w-full p-2 border border-gray-300 rounded-lg">
            <button type="button" class="cta-create-post p-4 rounded-lg bg-blue-500 text-white hover:bg-blue-600">
                <img src="/img/plus.png" alt="icon plus">
            </button>
        </div>
        </div>
    </div>
</section>


<script>
        document.getElementById('ajouter-une-reponse').addEventListener('click', function() {
            let ajouterunereponse = document.getElementById('ajouter-une-reponse');
            let reponseDiv = document.getElementById('ecrire-une-reponse');
            if (reponseDiv.classList.contains('hidden')) {
                reponseDiv.classList.remove('hidden');
                ajouterunereponse.style.backgroundColor = '#E6E2FB';
                
            } else {
                reponseDiv.classList.add('hidden');
                ajouterunereponse.style.backgroundColor = '#ECECEC';
            }
        });
    </script>




    <!-- Banniere des cookies -->
    <div id="cookie-banner" class="cookie-banner">
        <p>Nous utilisons des cookies pour améliorer votre expérience sur notre site. En poursuivant votre navigation, vous acceptez notre <a href="/politiqueconfidentialite">politique de confidentialité</a>.</p>
        <button onclick="acceptCookies()">Accepter</button>
    </div>

</main>

<!-- Footer-->
<footer>
    <div>
        <div class="newsletter-signup">
            <div class="heading">
                <p class="home-subheading">
                    Rejoignez-nous
                </p>
                <h2 class="heading2">Prêt à transformer votre jardin en un espace de vie éco-responsable ?</h2>
            </div>
            <div class="nl-signup">
                <p>
                    Inscrivez-vous à notre newsletter pour recevoir des conseils, des astuces et des ressources sur le jardinage urbain collaboratif.
                </p>
                <form action="https://app.us17.list-manage.com/subscribe/post?u=6bb0a21d1079de766e0f857a5&amp;id=d799be0915&amp;f_id=0008e1e3f0" method="post" name="mc-embedded-subscribe-form" target="_blank">
                    <div class="signup-form">
                        <input placeholder="Entrez votre adresse e-mail" type="email" name="EMAIL" required>
                        <button type="submit" name="subscribe" class="cta-lg tonal-cta">
                            <span id="submit-waitlist-footer" class="plus-jakarta">Je m'inscris</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#FFF">
                                <path d="M18 11.9996C17.9951 11.4735 17.7832 10.9705 17.41 10.5996L13.12 6.29958C12.9326 6.11333 12.6792 6.00879 12.415 6.00879C12.1508 6.00879 11.8974 6.11333 11.71 6.29958C11.6163 6.39254 11.5419 6.50315 11.4911 6.62501C11.4403 6.74686 11.4142 6.87757 11.4142 7.00958C11.4142 7.14159 11.4403 7.2723 11.4911 7.39416C11.5419 7.51602 11.6163 7.62662 11.71 7.71958L15 10.9996H5C4.73478 10.9996 4.48043 11.1049 4.29289 11.2925C4.10536 11.48 4 11.7344 4 11.9996C4 12.2648 4.10536 12.5192 4.29289 12.7067C4.48043 12.8942 4.73478 12.9996 5 12.9996H15L11.71 16.2896C11.5217 16.4766 11.4154 16.7307 11.4144 16.996C11.4135 17.2614 11.518 17.5163 11.705 17.7046C11.892 17.8929 12.1461 17.9992 12.4115 18.0001C12.6768 18.0011 12.9317 17.8966 13.12 17.7096L17.41 13.4096C17.7856 13.0362 17.9978 12.5292 18 11.9996Z" fill="#FFF"></path>
                            </svg>
                        </button>
                    </div>
                </form>
                <p class="rgpd-message">
                    En renseignant votre adresse e-mail, vous acceptez de recevoir la newsletter de Urban-Roots et vous reconnaissez avoir pris connaissance de notre <a href="/politiqueconfidentialite">politique de confidentialité</a>.
                </p>
            </div>
        </div>
        <div class="copyright-bar">
            <div class="links">
                <p>© 2024 Urban-Roots. Tous droits réservés</p>
                <div class="links">
                    <a href="/politiqueconfidentialite">Politique de confidentialité</a>
                    <a href="/mentionslegales">Mentions légales</a>
                </div>
            </div>
            <div class="links">
                <a target="_blank" href="https://www.facebook.com/"><img class="icon-reseaux" src="/img/icons8-facebook.svg" alt="icon facebook"></a>
                <a target="_blank" href="https://www.instagram.com/"><img src="/img/icons8-insta.svg" alt="icon instagram" class="icon-reseaux"></a>
                <a target="_blank" href="https://www.tiktok.com/"><img src="/img/tiktok-svgrepo-com.svg" alt="icon tiktok" class="icon-reseaux"></a>
                <a target="_blank" href="https://www.youtube.com/"><img src="/img/youtube-168-svgrepo-com.svg" alt="icon tiktok" class="icon-reseaux"></a>
            </div>
        </div>

    </div>
</footer>
<script src="../script.js"></script>
</body>
</html>
