
{{!-- Un message dans votre boîte mail attire votre attention :

Objet : Demande de collaboration pour le développement de la plateforme UrbanRoots

Bonjour,
J'espère que vous allez bien. Je me permets de vous contacter car nous recherchons un prestataire
capable de nous accompagner dans le développement de notre nouvelle plateforme, UrbanRoots,
dédiée au jardinage urbain collaboratif.
Nous souhaitons intégrer les fonctionnalités suivantes :
Une carte interactive pour localiser et créer des espaces de jardinage
Une plateforme d'échanges pour partager ressources et conseils
Des forums communautaires pour discussions et organisation d'événements
Des modules éducatifs sur le jardinage urbain
Un outil de suivi environnemental pour mesurer les impacts des actions des utilisateurs
Permettre la recherche et intégrer un système de filtrage selon divers critères (catégorie,
distance, valeur estimée, etc.)
Proposer un système d'évaluation des échanges et des utilisateurs
Nous privilégions les propositions qui mettent en avant une démarche éco-responsable et
communautaire tout au long du développement du projet.
Merci d'avance pour votre proposition.

Cordialement,

L'équipe du projet "Troc éco-responsable"

Après avoir pris connaissance du message, vous décidez de participer à cet appel d'offres. Vous
prévoyez que le projet prendra environ 3 mois pour un coût de 16 500€, en garantissant une réalisation
éthique et respectueuse de l'environnement.

PAGE / faq  --}}



<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urban-Roots - Notre foire aux questions</title>

    <!-- SEO Meta Tags -->
    <meta name="description" content="Notre foire aux questions vous permet de trouver des réponses à toutes vos interrogations sur Urban-Roots, la plateforme de jardinage urbain collaboratif.">
    <meta name="author" content="Urban-Roots">

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Urban-Roots - Notre foire aux questions">
    <meta property="og:description" content="Notre foire aux questions vous permet de trouver des réponses à toutes vos interrogations sur Urban-Roots, la plateforme de jardinage urbain collaboratif.">
    <meta property="og:image" content="/img/Hero-Image.svg">
    <meta property="og:url" content="https://www.urbanroot.fr/faq">
    <meta property="og:type" content="website">

    <!-- Canonical Link -->
    <link rel="canonical" href="https://www.urbanroot.fr/faq">
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <link href="/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap" rel="stylesheet">
</head>

<body>
<!-- Header -->
<header id="header" class=" flex fixed top-0 left-0 w-full z-50">
    <div class="header-desktop">
        <a href="/">
            <p class="heading3">Urban-Roots</p>
        </a>
        <div class="hidden xl:flex menu-desktop">
            <a href="/espace-jardinage" class="desktop-navlink">Espace jardinage</a>
            <a href="/espace-communautaire" class="desktop-navlink">Espace communautaire</a>
            <a href="blog" class="desktop-navlink">Modules éducatifs</a>
            <a href="/faq" class="desktop-navlink activ-nav">FAQ</a>
            <a href="/contact" class="desktop-navlink">Contact</a>
        </div>
    </div>

    <div id="menu-burger" class="xl:hidden">
        <img src="/img/fi-rr-menu-burger.svg" alt="menu-burger" id="burger-icon">
    </div>
</header>
<main>
    <!-- Fullscreen menu -->
    <nav id="fullscreen-menu" class="fixed inset-0 hidden z-40">
        <div>
            <a href="/espace-jardinage">Espace jardinage</a>
            <a href="/espace-communautaire">Espace communautaire</a>
            <a href="blog">Modules éducatifs</a>
            <a href="/faq">FAQ</a>
            <a href="/contact">Contact</a>
        </div>
    </nav>

    <!-- Popup -->
    <div id="popup-overlay" class="fixed inset-0 hidden z-50 flex items-center justify-center">
        <div id="popup" class="nl-signup">
            <div class="popup-close">
                <div class="p-2 rounded-xl	">
                    <img src="/img/close-svgrepo-com.svg" id="close-popup" class=" cursor-pointer w-6 h-6" alt="icon close popup">
                </div>
            </div>
            <h3 class="heading3">
                Inscrivez-vous dès aujourd'hui et soyez les premiers informés !
            </h3>
            <p>Soyez les premiers informés et profitez d'un accès exclusif en avant-première !</p>
            <form action="https://app.us17.list-manage.com/subscribe/post?u=6bb0a21d1079de766e0f857a5&amp;id=d799be0915&amp;f_id=0008e1e3f0" method="post" name="mc-embedded-subscribe-form" target="_blank">
                <div class="signup-form">
                    <input placeholder="Entrez votre adresse e-mail" type="email" name="EMAIL" id="mce-EMAIL" required>
                    <div class="response hidden" id="mce-error-response"></div>
                    <div class="response hidden" id="mce-success-response"></div>
                    <button type="submit" name="subscribe" class="cta-lg primary-cta">
                        <span>Je m'inscris</span>
                        <img src="/img/arrow-right-svgrepo-com.svg" class="w-6 h-6" alt="arrow-right">
                    </button>
                </div>
            </form>
        </div>
    </div>

    <section class=" my-32 section-faq">
      <div class="faq-div">
        <h1 class="display-title">
          FAQ
        </h1>
        <p class="faq-p">
          <strong class="faq-strong">Vous avez des questions ? Nous avons des réponses !</strong> Jetez un coup d'œil ci-dessous pour tout savoir sur Smoozy. Si vous ne trouvez pas ce que vous cherchez, n'hésitez pas à nous contacter. 😊
        </p>
      </div>

      <div class="faq-liste-de-questions">
        <div class="faq-div-question cursor-pointer">
            <div class="faq-question flex items-center">
                <svg class="faq-icon transition-transform duration-300" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <g clip-path="url(#clip0_1167_945)">
                        <path d="M23 11H13V1C13 0.734784 12.8946 0.48043 12.7071 0.292893C12.5196 0.105357 12.2652 0 12 0C11.7348 0 11.4804 0.105357 11.2929 0.292893C11.1054 0.48043 11 0.734784 11 1V11H1C0.734784 11 0.48043 11.1054 0.292893 11.2929C0.105357 11.4804 0 11.7348 0 12C0 12.2652 0.105357 12.5196 0.292893 12.7071C0.48043 12.8946 0.734784 13 1 13H11V23C11 23.2652 11.1054 23.5196 11.2929 23.7071C11.4804 23.8946 11.7348 24 12 24C12.2652 24 12.5196 23.8946 12.7071 23.7071C12.8946 23.5196 13 23.2652 13 23V13H23C23.2652 13 23.5196 12.8946 23.7071 12.7071C23.8946 12.5196 24 12.2652 24 12C24 11.7348 23.8946 11.4804 23.7071 11.2929C23.5196 11.1054 23.2652 11 23 11Z" fill="#2F2F2F"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_1167_945">
                            <rect width="24" height="24" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>
                <p class="faq-p-question ml-2">
                    Qu'est-ce que Smoozy et comment peut-elle aider ma famille ?
                </p>
            </div>
            <p class="faq-p-reponse hidden mt-2">Smoozy est votre nouvelle application préférée pour une vie de famille recomposée plus unie, plus fun et plus sereine. Grâce à nos fonctionnalités gamifiées, elle aide à créer une dynamique familiale positive et renforce les liens entre tous les membres de la famille.</p>
        </div>

        <div class="faq-div-question cursor-pointer">
                  <div class="faq-question cursor-pointer">
                      <svg class="faq-icon transition-transform duration-300" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                          <g clip-path="url(#clip0_1167_945)">
                              <path d="M23 11H13V1C13 0.734784 12.8946 0.48043 12.7071 0.292893C12.5196 0.105357 12.2652 0 12 0C11.7348 0 11.4804 0.105357 11.2929 0.292893C11.1054 0.48043 11 0.734784 11 1V11H1C0.734784 11 0.48043 11.1054 0.292893 11.2929C0.105357 11.4804 0 11.7348 0 12C0 12.2652 0.105357 12.5196 0.292893 12.7071C0.48043 12.8946 0.734784 13 1 13H11V23C11 23.2652 11.1054 23.5196 11.2929 23.7071C11.4804 23.8946 11.7348 24 12 24C12.2652 24 12.5196 23.8946 12.7071 23.7071C12.8946 23.5196 13 23.2652 13 23V13H23C23.2652 13 23.5196 12.8946 23.7071 12.7071C23.8946 12.5196 24 12.2652 24 12C24 11.7348 23.8946 11.4804 23.7071 11.2929C23.5196 11.1054 23.2652 11 23 11Z" fill="#2F2F2F"/>
                          </g>
                          <defs>
                              <clipPath id="clip0_1167_945">
                                  <rect width="24" height="24" fill="white"/>
                              </clipPath>
                          </defs>
                      </svg>
                      <p class="faq-p-question">
                          Comment fonctionne le Mood Tracker dans l'application Smoozy ?
                      </p>
                  </div>
                  <p class="faq-p-reponse hidden">Notre Mood Tracker ou journal d’émotions permet à chaque membre de la famille de partager son humeur du jour avec des icônes rigolotes et d’ajouter des notes privées pour exprimer ses ressentis. Suivez l'évolution des émotions de chacun pour mieux vous comprendre et créer une ambiance positive au sein de votre famille.</p>
              </div>

        <div class="faq-div-question cursor-pointer">
                  <div class="faq-question cursor-pointer">
                      <svg class="faq-icon transition-transform duration-300" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                          <g clip-path="url(#clip0_1167_945)">
                              <path d="M23 11H13V1C13 0.734784 12.8946 0.48043 12.7071 0.292893C12.5196 0.105357 12.2652 0 12 0C11.7348 0 11.4804 0.105357 11.2929 0.292893C11.1054 0.48043 11 0.734784 11 1V11H1C0.734784 11 0.48043 11.1054 0.292893 11.2929C0.105357 11.4804 0 11.7348 0 12C0 12.2652 0.105357 12.5196 0.292893 12.7071C0.48043 12.8946 0.734784 13 1 13H11V23C11 23.2652 11.1054 23.5196 11.2929 23.7071C11.4804 23.8946 11.7348 24 12 24C12.2652 24 12.5196 23.8946 12.7071 23.7071C12.8946 23.5196 13 23.2652 13 23V13H23C23.2652 13 23.5196 12.8946 23.7071 12.7071C23.8946 12.5196 24 12.2652 24 12C24 11.7348 23.8946 11.4804 23.7071 11.2929C23.5196 11.1054 23.2652 11 23 11Z" fill="#2F2F2F"/>
                          </g>
                          <defs>
                              <clipPath id="clip0_1167_945">
                                  <rect width="24" height="24" fill="white"/>
                              </clipPath>
                          </defs>
                      </svg>
                      <p class="faq-p-question">
                          Comment puis-je attribuer des tâches et gagner des points avec Smoozy ?
                      </p>
                  </div>
                  <p class="faq-p-reponse hidden">Vous pouvez créer des tâches personnalisées pour chaque enfant, en fonction de leur âge et de leurs capacités. Les membres de la famille gagnent des points en accomplissant ces tâches. Ces points peuvent ensuite être échangés contre des récompenses positives, telles que des sorties en famille, des petits cadeaux ou des privilèges spéciaux.</p>
              </div>

        <div class="faq-div-question cursor-pointer">
                  <div class="faq-question cursor-pointer">
                      <svg class="faq-icon transition-transform duration-300" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                          <g clip-path="url(#clip0_1167_945)">
                              <path d="M23 11H13V1C13 0.734784 12.8946 0.48043 12.7071 0.292893C12.5196 0.105357 12.2652 0 12 0C11.7348 0 11.4804 0.105357 11.2929 0.292893C11.1054 0.48043 11 0.734784 11 1V11H1C0.734784 11 0.48043 11.1054 0.292893 11.2929C0.105357 11.4804 0 11.7348 0 12C0 12.2652 0.105357 12.5196 0.292893 12.7071C0.48043 12.8946 0.734784 13 1 13H11V23C11 23.2652 11.1054 23.5196 11.2929 23.7071C11.4804 23.8946 11.7348 24 12 24C12.2652 24 12.5196 23.8946 12.7071 23.7071C12.8946 23.5196 13 23.2652 13 23V13H23C23.2652 13 23.5196 12.8946 23.7071 12.7071C23.8946 12.5196 24 12.2652 24 12C24 11.7348 23.8946 11.4804 23.7071 11.2929C23.5196 11.1054 23.2652 11 23 11Z" fill="#2F2F2F"/>
                          </g>
                          <defs>
                              <clipPath id="clip0_1167_945">
                                  <rect width="24" height="24" fill="white"/>
                              </clipPath>
                          </defs>
                      </svg>
                      <p class="faq-p-question">
                          Quelles types de récompenses puis-je obtenir avec les points gagnés ?
                      </p>
                  </div>
                  <p class="faq-p-reponse hidden">Notre marketplace propose une variété de récompenses, allant des activités familiales amusantes à des sorties individuelles… de quoi ravir petits et grands et créer des souvenirs inoubliables. Gagnez des points et profitez d'activités à prix réduits pour encore plus de moments de complicité !</p>
              </div>

        <div class="faq-div-question cursor-pointer">
                  <div class="faq-question cursor-pointer">
                      <svg class="faq-icon transition-transform duration-300" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                          <g clip-path="url(#clip0_1167_945)">
                              <path d="M23 11H13V1C13 0.734784 12.8946 0.48043 12.7071 0.292893C12.5196 0.105357 12.2652 0 12 0C11.7348 0 11.4804 0.105357 11.2929 0.292893C11.1054 0.48043 11 0.734784 11 1V11H1C0.734784 11 0.48043 11.1054 0.292893 11.2929C0.105357 11.4804 0 11.7348 0 12C0 12.2652 0.105357 12.5196 0.292893 12.7071C0.48043 12.8946 0.734784 13 1 13H11V23C11 23.2652 11.1054 23.5196 11.2929 23.7071C11.4804 23.8946 11.7348 24 12 24C12.2652 24 12.5196 23.8946 12.7071 23.7071C12.8946 23.5196 13 23.2652 13 23V13H23C23.2652 13 23.5196 12.8946 23.7071 12.7071C23.8946 12.5196 24 12.2652 24 12C24 11.7348 23.8946 11.4804 23.7071 11.2929C23.5196 11.1054 23.2652 11 23 11Z" fill="#2F2F2F"/>
                          </g>
                          <defs>
                              <clipPath id="clip0_1167_945">
                                  <rect width="24" height="24" fill="white"/>
                              </clipPath>
                          </defs>
                      </svg>
                      <p class="faq-p-question">
                          L'application Smoozy est-elle compatible avec tous les appareils ?
                      </p>
                  </div>
                  <p class="faq-p-reponse hidden">Tout à fait ! Smoozy est une application web progressive (PWA), ce qui veut dire qu’elle fonctionne sur tous vos appareils – smartphones, tablettes et ordinateurs. Pour une meilleure expérience utilisateur, nous recommandons cependant l'utilisation d'un appareil mobile.</p>
              </div>

        <div class="faq-div-question cursor-pointer">
                  <div class="faq-question cursor-pointer">
                      <svg class="faq-icon transition-transform duration-300" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                          <g clip-path="url(#clip0_1167_945)">
                              <path d="M23 11H13V1C13 0.734784 12.8946 0.48043 12.7071 0.292893C12.5196 0.105357 12.2652 0 12 0C11.7348 0 11.4804 0.105357 11.2929 0.292893C11.1054 0.48043 11 0.734784 11 1V11H1C0.734784 11 0.48043 11.1054 0.292893 11.2929C0.105357 11.4804 0 11.7348 0 12C0 12.2652 0.105357 12.5196 0.292893 12.7071C0.48043 12.8946 0.734784 13 1 13H11V23C11 23.2652 11.1054 23.5196 11.2929 23.7071C11.4804 23.8946 11.7348 24 12 24C12.2652 24 12.5196 23.8946 12.7071 23.7071C12.8946 23.5196 13 23.2652 13 23V13H23C23.2652 13 23.5196 12.8946 23.7071 12.7071C23.8946 12.5196 24 12.2652 24 12C24 11.7348 23.8946 11.4804 23.7071 11.2929C23.5196 11.1054 23.2652 11 23 11Z" fill="#2F2F2F"/>
                          </g>
                          <defs>
                              <clipPath id="clip0_1167_945">
                                  <rect width="24" height="24" fill="white"/>
                              </clipPath>
                          </defs>
                      </svg>
                      <p class="faq-p-question">
                          Comment Smoozy peut-elle améliorer la communication dans une famille recomposée ?
                      </p>
                  </div>
                  <p class="faq-p-reponse hidden">Smoozy facilite la communication en permettant à chaque membre de partager ses émotions et ses humeurs au quotidien. Grâce à des fonctionnalités comme le Mood Tracker et les profils personnalisés, les membres de la famille peuvent mieux se comprendre et renforcer leur lien.</p>
              </div>

        <div class="faq-div-question cursor-pointer">
                  <div class="faq-question cursor-pointer">
                      <svg class="faq-icon transition-transform duration-300" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                          <g clip-path="url(#clip0_1167_945)">
                              <path d="M23 11H13V1C13 0.734784 12.8946 0.48043 12.7071 0.292893C12.5196 0.105357 12.2652 0 12 0C11.7348 0 11.4804 0.105357 11.2929 0.292893C11.1054 0.48043 11 0.734784 11 1V11H1C0.734784 11 0.48043 11.1054 0.292893 11.2929C0.105357 11.4804 0 11.7348 0 12C0 12.2652 0.105357 12.5196 0.292893 12.7071C0.48043 12.8946 0.734784 13 1 13H11V23C11 23.2652 11.1054 23.5196 11.2929 23.7071C11.4804 23.8946 11.7348 24 12 24C12.2652 24 12.5196 23.8946 12.7071 23.7071C12.8946 23.5196 13 23.2652 13 23V13H23C23.2652 13 23.5196 12.8946 23.7071 12.7071C23.8946 12.5196 24 12.2652 24 12C24 11.7348 23.8946 11.4804 23.7071 11.2929C23.5196 11.1054 23.2652 11 23 11Z" fill="#2F2F2F"/>
                          </g>
                          <defs>
                              <clipPath id="clip0_1167_945">
                                  <rect width="24" height="24" fill="white"/>
                              </clipPath>
                          </defs>
                      </svg>
                      <p class="faq-p-question">
                          Est-ce que Smoozy permet de gérer les plannings des enfants de différentes maisons ?
                      </p>
                  </div>
                  <p class="faq-p-reponse hidden">Absolument ! Smoozy vous permet de gérer facilement les plannings des enfants, même s’ils viennent de différentes unions. Planifiez les activités, les tâches et les règles de vie commune pour une organisation sans stress.</p>
              </div>

        <div class="faq-div-question cursor-pointer">
                  <div class="faq-question cursor-pointer">
                      <svg class="faq-icon transition-transform duration-300" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                          <g clip-path="url(#clip0_1167_945)">
                              <path d="M23 11H13V1C13 0.734784 12.8946 0.48043 12.7071 0.292893C12.5196 0.105357 12.2652 0 12 0C11.7348 0 11.4804 0.105357 11.2929 0.292893C11.1054 0.48043 11 0.734784 11 1V11H1C0.734784 11 0.48043 11.1054 0.292893 11.2929C0.105357 11.4804 0 11.7348 0 12C0 12.2652 0.105357 12.5196 0.292893 12.7071C0.48043 12.8946 0.734784 13 1 13H11V23C11 23.2652 11.1054 23.5196 11.2929 23.7071C11.4804 23.8946 11.7348 24 12 24C12.2652 24 12.5196 23.8946 12.7071 23.7071C12.8946 23.5196 13 23.2652 13 23V13H23C23.2652 13 23.5196 12.8946 23.7071 12.7071C23.8946 12.5196 24 12.2652 24 12C24 11.7348 23.8946 11.4804 23.7071 11.2929C23.5196 11.1054 23.2652 11 23 11Z" fill="#2F2F2F"/>
                          </g>
                          <defs>
                              <clipPath id="clip0_1167_945">
                                  <rect width="24" height="24" fill="white"/>
                              </clipPath>
                          </defs>
                      </svg>
                      <p class="faq-p-question">
                          Comment Smoozy peut-elle aider à réduire les conflits dans une famille recomposée ?
                      </p>
                  </div>
                  <p class="faq-p-reponse hidden">En mettant des règles claires et en encourageant le respect mutuel. Avec Smoozy, vous pouvez définir ensemble des règles de vie pour toute la maison et mettre en place un système de gages amusants pour les petits écarts de conduite. Fini les disputes pour un rien, bonjour la zen attitude !</p>
              </div>

        <div class="faq-div-question cursor-pointer">
                  <div class="faq-question cursor-pointer">
                      <svg class="faq-icon transition-transform duration-300" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                          <g clip-path="url(#clip0_1167_945)">
                              <path d="M23 11H13V1C13 0.734784 12.8946 0.48043 12.7071 0.292893C12.5196 0.105357 12.2652 0 12 0C11.7348 0 11.4804 0.105357 11.2929 0.292893C11.1054 0.48043 11 0.734784 11 1V11H1C0.734784 11 0.48043 11.1054 0.292893 11.2929C0.105357 11.4804 0 11.7348 0 12C0 12.2652 0.105357 12.5196 0.292893 12.7071C0.48043 12.8946 0.734784 13 1 13H11V23C11 23.2652 11.1054 23.5196 11.2929 23.7071C11.4804 23.8946 11.7348 24 12 24C12.2652 24 12.5196 23.8946 12.7071 23.7071C12.8946 23.5196 13 23.2652 13 23V13H23C23.2652 13 23.5196 12.8946 23.7071 12.7071C23.8946 12.5196 24 12.2652 24 12C24 11.7348 23.8946 11.4804 23.7071 11.2929C23.5196 11.1054 23.2652 11 23 11Z" fill="#2F2F2F"/>
                          </g>
                          <defs>
                              <clipPath id="clip0_1167_945">
                                  <rect width="24" height="24" fill="white"/>
                              </clipPath>
                          </defs>
                      </svg>
                      <p class="faq-p-question">
                          Peut-on utiliser Smoozy pour organiser des activités familiales avec des enfants de différentes unions ?
                      </p>
                  </div>
                  <p class="faq-p-reponse hidden">Carrément ! Smoozy est l'outil parfait pour organiser des sorties en famille recomposée. Chaque membre peut proposer des idées d'activités et tout le monde peut s'inscrire en un clic. Planifiez des moments de qualité et créez des souvenirs inoubliables ensemble.</p>
              </div>

        <div class="faq-div-question cursor-pointer">
                  <div class="faq-question cursor-pointer">
                      <svg class="faq-icon transition-transform duration-300" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                          <g clip-path="url(#clip0_1167_945)">
                              <path d="M23 11H13V1C13 0.734784 12.8946 0.48043 12.7071 0.292893C12.5196 0.105357 12.2652 0 12 0C11.7348 0 11.4804 0.105357 11.2929 0.292893C11.1054 0.48043 11 0.734784 11 1V11H1C0.734784 11 0.48043 11.1054 0.292893 11.2929C0.105357 11.4804 0 11.7348 0 12C0 12.2652 0.105357 12.5196 0.292893 12.7071C0.48043 12.8946 0.734784 13 1 13H11V23C11 23.2652 11.1054 23.5196 11.2929 23.7071C11.4804 23.8946 11.7348 24 12 24C12.2652 24 12.5196 23.8946 12.7071 23.7071C12.8946 23.5196 13 23.2652 13 23V13H23C23.2652 13 23.5196 12.8946 23.7071 12.7071C23.8946 12.5196 24 12.2652 24 12C24 11.7348 23.8946 11.4804 23.7071 11.2929C23.5196 11.1054 23.2652 11 23 11Z" fill="#2F2F2F"/>
                          </g>
                          <defs>
                              <clipPath id="clip0_1167_945">
                                  <rect width="24" height="24" fill="white"/>
                              </clipPath>
                          </defs>
                      </svg>
                      <p class="faq-p-question">
                          Comment Smoozy aide-t-elle à gérer les relations entre beaux-parents et beaux-enfants ?
                      </p>
                  </div>
                  <p class="faq-p-reponse hidden">En favorisant la communication et la compréhension. Grâce aux fonctionnalités de Smoozy, beaux-parents et beaux-enfants peuvent apprendre à se connaître, à partager des moments complices et à tisser des liens solides. </p>
              </div>
      </div>
    </section>

    <!-- Banniere des cookies -->
    <div id="cookie-banner" class="cookie-banner">
        <p>Nous utilisons des cookies pour améliorer votre expérience sur notre site. En poursuivant votre navigation, vous acceptez notre <a href="/politiqueconfidentialite">politique de confidentialité</a>.</p>
        <button onclick="acceptCookies()">Accepter</button>
    </div>

</main>

<!-- Footer-->
<footer>
    <div>
        <div class="newsletter-signup">
            <div class="heading">
                <p class="home-subheading">
                    Rejoignez-nous
                </p>
                <h2 class="heading2">Prêt à transformer votre jardin en un espace de vie éco-responsable ?</h2>
            </div>
            <div class="nl-signup">
                <p>
                    Inscrivez-vous à notre newsletter pour recevoir des conseils, des astuces et des ressources sur le jardinage urbain collaboratif.
                </p>
                <form action="https://app.us17.list-manage.com/subscribe/post?u=6bb0a21d1079de766e0f857a5&amp;id=d799be0915&amp;f_id=0008e1e3f0" method="post" name="mc-embedded-subscribe-form" target="_blank">
                    <div class="signup-form">
                        <input placeholder="Entrez votre adresse e-mail" type="email" name="EMAIL" required>
                        <button type="submit" name="subscribe" class="cta-lg tonal-cta">
                            <span id="submit-waitlist-footer" class="plus-jakarta">Je m'inscris</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#FFF">
                                <path d="M18 11.9996C17.9951 11.4735 17.7832 10.9705 17.41 10.5996L13.12 6.29958C12.9326 6.11333 12.6792 6.00879 12.415 6.00879C12.1508 6.00879 11.8974 6.11333 11.71 6.29958C11.6163 6.39254 11.5419 6.50315 11.4911 6.62501C11.4403 6.74686 11.4142 6.87757 11.4142 7.00958C11.4142 7.14159 11.4403 7.2723 11.4911 7.39416C11.5419 7.51602 11.6163 7.62662 11.71 7.71958L15 10.9996H5C4.73478 10.9996 4.48043 11.1049 4.29289 11.2925C4.10536 11.48 4 11.7344 4 11.9996C4 12.2648 4.10536 12.5192 4.29289 12.7067C4.48043 12.8942 4.73478 12.9996 5 12.9996H15L11.71 16.2896C11.5217 16.4766 11.4154 16.7307 11.4144 16.996C11.4135 17.2614 11.518 17.5163 11.705 17.7046C11.892 17.8929 12.1461 17.9992 12.4115 18.0001C12.6768 18.0011 12.9317 17.8966 13.12 17.7096L17.41 13.4096C17.7856 13.0362 17.9978 12.5292 18 11.9996Z" fill="#FFF"></path>
                            </svg>
                        </button>
                    </div>
                </form>
                <p class="rgpd-message">
                    En renseignant votre adresse e-mail, vous acceptez de recevoir la newsletter de Urban-Roots et vous reconnaissez avoir pris connaissance de notre <a href="/politiqueconfidentialite">politique de confidentialité</a>.
                </p>
            </div>
        </div>
        <div class="copyright-bar">
            <div class="links">
                <p>© 2024 Urban-Roots. Tous droits réservés</p>
                <div class="links">
                    <a href="/politiqueconfidentialite">Politique de confidentialité</a>
                    <a href="/mentionslegales">Mentions légales</a>
                </div>
            </div>
            <div class="links">
                <a target="_blank" href="https://www.facebook.com/"><img class="icon-reseaux" src="/img/icons8-facebook.svg" alt="icon facebook"></a>
                <a target="_blank" href="https://www.instagram.com/"><img src="/img/icons8-insta.svg" alt="icon instagram" class="icon-reseaux"></a>
                <a target="_blank" href="https://www.tiktok.com/"><img src="/img/tiktok-svgrepo-com.svg" alt="icon tiktok" class="icon-reseaux"></a>
                <a target="_blank" href="https://www.youtube.com/"><img src="/img/youtube-168-svgrepo-com.svg" alt="icon tiktok" class="icon-reseaux"></a>
            </div>
        </div>

    </div>
</footer>
<script src="../script.js"></script>
</body>
</html>

