<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application Smoozy - Rejoignez votre unité familiale !</title>

    <link href="/styles.css" rel="stylesheet">
    <!-- SEO Meta Tags -->
    <meta name="description" content="Rejoignez dès maintenant votre famille ! 🌟">
    <meta name="author" content="Smoozy">

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Application Smoozy - Rejoignez votre unité familiale !">
    <meta property="og:description" content="Rejoignez dès maintenant votre famille ! 🌟">
    <meta property="og:image" content="/img/Hero-Image.svg">
    <meta property="og:url" content="https://smoozy-app.com/join-family">
    <meta property="og:type" content="website">

    <!-- Canonical Link -->
    <link rel="canonical" href="https://smoozy-app.com/join-family">
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <link href="/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap" rel="stylesheet">

    <!-- Google Tag Manager -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DSKHG4RCJG"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-DSKHG4RCJG');
    </script>
</head>

<body style="background: #FFFCF1">
    <!-- Message d'information pour les écrans de 600px et plus -->
    <div class="desktop-info-message">
        Pour visualiser cette page, veuillez utiliser un appareil mobile. (max-width:600px)
    </div>
<main class="mobile-only-content main-create-family">
  <div class="create-family-progress-bar">
    <div class="create-family-progress-background">
      <div class="create-family-progress"></div>
    </div>
  </div>

  <div class="create-family-back">
      <a href="/family-setup" class="cta-back-to-loading">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M11.29 17.71C11.3837 17.617 11.4581 17.5064 11.5089 17.3846C11.5597 17.2627 11.5858 17.132 11.5858 17C11.5858 16.868 11.5597 16.7373 11.5089 16.6154C11.4581 16.4936 11.3837 16.383 11.29 16.29L8 13L18 13C18.2652 13 18.5196 12.8946 18.7071 12.7071C18.8946 12.5196 19 12.2652 19 12C19 11.7348 18.8946 11.4804 18.7071 11.2929C18.5196 11.1054 18.2652 11 18 11L8 11L11.29 7.71C11.3837 7.61704 11.4581 7.50644 11.5089 7.38458C11.5597 7.26272 11.5858 7.13201 11.5858 7C11.5858 6.86799 11.5597 6.73728 11.5089 6.61542C11.4581 6.49356 11.3837 6.38296 11.29 6.29C11.1026 6.10375 10.8492 5.99921 10.585 5.99921C10.3208 5.99921 10.0674 6.10375 9.88 6.29L5.59 10.59C5.21441 10.9634 5.00223 11.4704 5 12C5.00486 12.5261 5.21684 13.0291 5.59 13.4L9.88 17.7C10.066 17.8876 10.3187 17.9939 10.5829 17.9958C10.8471 17.9977 11.1013 17.8949 11.29 17.71Z" fill="white"/>
        </svg>
    </a>
  </div>

  <h1 class="create-family-title">Rejoignez votre unité familiale !</h1>
  <p class="create-family-subtitle" style="margin-bottom:60px">Avez-vous reçu un code d'invitation ?
C'est le moment de l'utiliser ! <span>Saisissez votre code ci-dessous et rejoignez votre famille !</span></p>
  
<div class="family-code-error" style="display: none;">
  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
  <g clip-path="url(#clip0_576_952)">
    <path d="M9 0C7.21997 0 5.47991 0.527841 3.99987 1.51677C2.51983 2.50571 1.36628 3.91131 0.685088 5.55585C0.00389957 7.20038 -0.17433 9.00998 0.172937 10.7558C0.520204 12.5016 1.37737 14.1053 2.63604 15.364C3.89472 16.6226 5.49836 17.4798 7.24419 17.8271C8.99002 18.1743 10.7996 17.9961 12.4442 17.3149C14.0887 16.6337 15.4943 15.4802 16.4832 14.0001C17.4722 12.5201 18 10.78 18 9C17.9974 6.61384 17.0484 4.32616 15.3611 2.63889C13.6738 0.951621 11.3862 0.00258081 9 0ZM9 16.5C7.51664 16.5 6.0666 16.0601 4.83323 15.236C3.59986 14.4119 2.63856 13.2406 2.07091 11.8701C1.50325 10.4997 1.35473 8.99168 1.64411 7.53682C1.9335 6.08197 2.64781 4.74559 3.6967 3.6967C4.7456 2.64781 6.08197 1.9335 7.53683 1.64411C8.99168 1.35472 10.4997 1.50325 11.8701 2.0709C13.2406 2.63856 14.4119 3.59985 15.236 4.83322C16.0601 6.06659 16.5 7.51664 16.5 9C16.4978 10.9885 15.7069 12.8948 14.3009 14.3009C12.8948 15.7069 10.9885 16.4978 9 16.5Z" fill="#FD618C"/>
    <path d="M9 7.5H8.25C8.05109 7.5 7.86032 7.57902 7.71967 7.71967C7.57902 7.86032 7.5 8.05109 7.5 8.25C7.5 8.44891 7.57902 8.63968 7.71967 8.78033C7.86032 8.92098 8.05109 9 8.25 9H9V13.5C9 13.6989 9.07902 13.8897 9.21967 14.0303C9.36032 14.171 9.55109 14.25 9.75 14.25C9.94891 14.25 10.1397 14.171 10.2803 14.0303C10.421 13.8897 10.5 13.6989 10.5 13.5V9C10.5 8.60218 10.342 8.22064 10.0607 7.93934C9.77936 7.65804 9.39782 7.5 9 7.5Z" fill="#FD618C"/>
    <path d="M9 6C9.62132 6 10.125 5.49632 10.125 4.875C10.125 4.25368 9.62132 3.75 9 3.75C8.37868 3.75 7.875 4.25368 7.875 4.875C7.875 5.49632 8.37868 6 9 6Z" fill="#FD618C"/>
  </g>
  <defs>
    <clipPath id="clip0_576_952">
      <rect width="18" height="18" fill="white"/>
    </clipPath>
  </defs>
</svg>
<p>
  Oups, ce code ne semble pas fonctionner ! Vérifiez-le et réessayez !
</p>
</div>

<form id="join-family-form">
  <div class="family-codes">
    <input type="text" required maxlength="1">
    <input type="text" required maxlength="1">
    <input type="text" required maxlength="1">
    <input type="text" required maxlength="1">
    <input type="text" required maxlength="1">
    <input type="text" required maxlength="1">
  </div>
  <button type="submit" class="cta-lg cta-register-lock" disabled>Continuer</button>
</form>
</main>

<div id="cookie-banner" class="cookie-banner">
    <p>Nous utilisons des cookies pour améliorer votre expérience sur notre site. En poursuivant votre navigation, vous acceptez notre <a href="/politiqueconfidentialite">politique de confidentialité</a>.</p>
    <button onclick="acceptCookies()">Accepter</button>
</div>

<script src="../join-family.js"></script>

</body>
</html>
