<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application Smoozy - Connectez vous ou créez un compte !</title>

    <!-- SEO Meta Tags -->
    <meta name="description" content="Connectez vous ou créez un compte pour commencer votre aventure familiale ! 🌟">
    <meta name="author" content="Smoozy">

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Application Smoozy - Connectez vous ou créez un compte !">
    <meta property="og:description" content="Connectez vous ou créez un compte pour commencer votre aventure familiale ! 🌟">
    <meta property="og:image" content="/img/Hero-Image.svg">
    <meta property="og:url" content="https://smoozy-app.com/loading">
    <meta property="og:type" content="website">

    <!-- Canonical Link -->
    <link rel="canonical" href="https://smoozy-app.com/loading">
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <link href="/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap" rel="stylesheet">

    <!-- Google Tag Manager -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DSKHG4RCJG"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-DSKHG4RCJG');
    </script>
</head>

<body style="background: #FFFCF1;">

    <!-- Message d'information pour les écrans de 600px et plus -->
    <div class="desktop-info-message">
        Pour visualiser cette page, veuillez utiliser un appareil mobile. (max-width:600px)
    </div>
<main class="mobile-only-content">

  <div class="loading-main">
    <img class="loading-img" src="/img/Smile.svg" alt="Icon de chargement smoozy smile">
  </div>

  <div class="ecran-selection">
    <img src="/img/Smoozy-crez-votre-nouvelle-histoire.png" alt="image d'entête">

    <svg xmlns="http://www.w3.org/2000/svg" width="185" height="40" viewBox="0 0 185 40" fill="none">
      <g clip-path="url(#clip0_52_381)">
        <path d="M41.5594 31.1124V5.61147H47.6605L47.757 13.0967H48.7179C49.1655 11.2617 49.7579 9.7391 50.4949 8.53263C51.232 7.32421 52.1292 6.4242 53.1846 5.82872C54.242 5.23324 55.4749 4.93453 56.8835 4.93453C58.292 4.93453 59.5809 5.24875 60.5592 5.87721C61.5355 6.50566 62.3131 7.42313 62.89 8.62961C63.4669 9.83609 63.8509 11.3258 64.0438 13.0967H64.86C65.3713 11.1977 66.0447 9.64406 66.8783 8.43564C67.7099 7.22722 68.7036 6.34273 69.8574 5.77829C71.0112 5.21578 72.2596 4.93259 73.6045 4.93259C75.0458 4.93259 76.3019 5.21578 77.3766 5.77829C78.4494 6.34273 79.3467 7.17873 80.0664 8.29017C80.7861 9.4016 81.3225 10.7865 81.6756 12.443C82.0267 14.1014 82.2043 16.0256 82.2043 18.2135V31.1085H74.4207V19.1795C74.4207 17.4726 74.2837 16.0566 74.0116 14.9297C73.7395 13.8027 73.3151 12.957 72.7381 12.3945C72.1612 11.832 71.4242 11.5488 70.5289 11.5488C69.5043 11.5488 68.6302 11.8863 67.9105 12.5633C67.1889 13.2402 66.6371 14.181 66.2531 15.3894C65.8691 16.5978 65.6762 17.9575 65.6762 19.4705V31.1105H58.0856V19.325C58.0856 17.5541 57.9331 16.1051 57.6283 14.9782C57.3234 13.8512 56.8758 12.9978 56.2834 12.4178C55.6911 11.8378 54.9463 11.5488 54.049 11.5488C53.0245 11.5488 52.1581 11.8863 51.4539 12.5633C50.7496 13.2402 50.2113 14.181 49.8447 15.3894C49.4761 16.5978 49.2928 17.9575 49.2928 19.4705V31.1105H41.5575L41.5594 31.1124Z" fill="#2F2F2F"/>
        <path d="M96.0908 31.7894C93.5285 31.7894 91.2632 31.2889 89.2932 30.2919C87.3232 29.2949 85.7777 27.7975 84.6566 25.7996C83.5356 23.8037 82.9741 21.3073 82.9741 18.3125C82.9741 15.3176 83.5337 12.831 84.6566 10.8506C85.7777 8.87014 87.3309 7.39017 89.3164 6.40675C91.3018 5.42528 93.5767 4.93454 96.1391 4.93454C98.7014 4.93454 100.974 5.43498 102.962 6.43197C104.947 7.4309 106.5 8.91863 107.621 10.899C108.743 12.8795 109.302 15.3661 109.302 18.361C109.302 21.3558 108.725 23.9472 107.573 25.9432C106.419 27.9391 104.843 29.4133 102.84 30.3618C100.837 31.3103 98.5876 31.7874 96.0908 31.7874V31.7894ZM96.3301 26.1371C97.4839 26.1371 98.4448 25.8714 99.2128 25.3399C99.9807 24.8085 100.558 23.9957 100.942 22.9018C101.326 21.8078 101.519 20.4558 101.519 18.844C101.519 17.137 101.31 15.6978 100.893 14.5204C100.477 13.345 99.8611 12.443 99.043 11.8165C98.2268 11.1881 97.1771 10.8738 95.8959 10.8738C94.8058 10.8738 93.87 11.1396 93.0847 11.671C92.2994 12.2025 91.7147 13.0152 91.3308 14.1092C90.9468 15.2051 90.7538 16.5726 90.7538 18.2155C90.7538 20.8554 91.242 22.8358 92.2183 24.1567C93.1947 25.4777 94.5646 26.1371 96.3262 26.1371H96.3301Z" fill="#2F2F2F"/>
        <path d="M123.187 31.7894C120.624 31.7894 118.359 31.2889 116.389 30.2919C114.419 29.2949 112.873 27.7975 111.752 25.7996C110.631 23.8037 110.07 21.3073 110.07 18.3125C110.07 15.3176 110.629 12.831 111.752 10.8506C112.873 8.87014 114.427 7.39017 116.412 6.40675C118.398 5.42528 120.673 4.93454 123.235 4.93454C125.797 4.93454 128.07 5.43498 130.058 6.43197C132.043 7.4309 133.596 8.91863 134.717 10.899C135.838 12.8795 136.398 15.3661 136.398 18.361C136.398 21.3558 135.821 23.9472 134.669 25.9432C133.515 27.9391 131.939 29.4133 129.936 30.3618C127.933 31.3103 125.683 31.7874 123.185 31.7874L123.187 31.7894ZM123.428 26.1371C124.582 26.1371 125.543 25.8714 126.311 25.3399C127.078 24.8085 127.655 23.9957 128.039 22.9018C128.423 21.8078 128.616 20.4558 128.616 18.844C128.616 17.137 128.408 15.6978 127.991 14.5204C127.574 13.345 126.959 12.443 126.141 11.8165C125.325 11.1881 124.275 10.8738 122.994 10.8738C121.904 10.8738 120.968 11.1396 120.182 11.671C119.397 12.2025 118.812 13.0152 118.429 14.1092C118.045 15.2051 117.852 16.5726 117.852 18.2155C117.852 20.8554 118.34 22.8358 119.316 24.1567C120.292 25.4777 121.662 26.1371 123.424 26.1371H123.428Z" fill="#2F2F2F"/>
        <path d="M137.264 31.1124V24.6397L149.852 12.5167V11.7932H137.554V5.61148H159.654V12.0357L146.97 24.2072V24.8841H159.797V31.1143H137.264V31.1124Z" fill="#2F2F2F"/>
        <path d="M170.751 40C169.47 40 168.156 39.8875 166.811 39.6625C165.466 39.4375 164.192 39.1077 162.99 38.6733C161.788 38.2388 160.756 37.6666 159.891 36.9586L161.765 30.0514C162.886 31.1143 164.239 31.9018 165.825 32.4178C167.411 32.9318 168.939 33.1898 170.413 33.1898C172.111 33.1898 173.512 32.86 174.617 32.2006C175.723 31.5411 176.57 30.5266 177.164 29.1572C177.757 27.7897 178.102 26.0906 178.197 24.0617L178.438 19.8603H177.284C176.996 21.9532 176.491 23.6602 175.771 24.9791C175.05 26.3001 174.137 27.2738 173.033 27.9003C171.93 28.5268 170.623 28.843 169.118 28.843C167.26 28.843 165.707 28.3775 164.459 27.4425C163.21 26.5095 162.272 25.0994 161.647 23.216C161.022 21.3326 160.71 18.9894 160.71 16.1885V5.61148H168.493V14.2566C168.493 17.2204 168.788 19.3366 169.383 20.6071C169.975 21.8795 170.911 22.5138 172.194 22.5138C172.867 22.5138 173.475 22.3198 174.019 21.9339C174.563 21.5479 175.028 21.0009 175.412 20.2909C175.796 19.583 176.093 18.7217 176.302 17.7073C176.51 16.6928 176.614 15.5581 176.614 14.3032V5.61148H184.35V24.3507C184.35 26.3796 184.165 28.232 183.798 29.9059C183.429 31.5799 182.885 33.0443 182.164 34.3012C181.444 35.5562 180.537 36.6114 179.449 37.4648C178.361 38.3183 177.095 38.9545 175.654 39.3735C174.212 39.7924 172.578 40.0019 170.753 40.0019L170.751 40Z" fill="#2F2F2F"/>
        <path d="M3.91063 8.04859L0.00109863 12.4028L5.81487 17.6781L9.7244 13.3239L3.91063 8.04859Z" fill="#2F2F2F"/>
        <path d="M11.2748 1.0274e-05L7.36523 4.35419L13.179 9.62949L17.0885 5.27532L11.2748 1.0274e-05Z" fill="#2F2F2F"/>
        <path d="M44.9457 14.3536C41.7254 13.0327 38.3835 12.3615 34.9992 12.3499C34.7117 11.8184 34.4165 11.287 34.1174 10.7516C32.1146 7.1574 29.5464 3.85025 26.4843 0.923279L21.7513 1.9998C20.1286 6.25933 17.9675 10.2861 15.3299 13.9715C11.8414 18.8459 7.56754 23.0686 2.6261 26.5251L5.95834 31.3393C11.4439 27.5027 16.1905 22.8106 20.0668 17.3969C21.9847 14.7163 23.673 11.8728 25.1182 8.90117L25.8128 8.83328C26.8548 10.1387 27.7964 11.5042 28.6318 12.926C26.7467 13.3838 24.9098 14.2527 23.3026 15.948C19.7099 19.7381 18.0447 25.6192 21.8149 29.5296C23.3778 31.1512 25.4983 31.7913 27.559 31.7913C29.0004 31.7913 30.4147 31.4771 31.584 30.9669C34.5457 29.6751 36.618 26.8955 37.4168 23.1384C37.7757 21.447 37.7333 19.8778 37.4284 18.3765C39.2286 18.6034 41.0076 19.0748 42.7461 19.7866L44.9496 14.3555L44.9457 14.3536ZM28.8788 25.7337C26.9821 26.4921 25.1337 24.6572 25.7569 22.7039C26.4689 20.4733 29.0062 18.3164 31.3814 18.3939C32.6664 20.8631 31.283 24.7716 28.8788 25.7337Z" fill="#2F2F2F"/>
      </g>
      <defs>
        <clipPath id="clip0_52_381">
          <rect width="184.348" height="40" fill="white"/>
        </clipPath>
      </defs>
    </svg>
    <p>Créez votre nouvelle histoire familiale dès aujourd’hui !</p>
    <div class="loading-cta">
      <a class="tonal-cta cta-lg" href="/register">C'est parti !</a>
      <a class="loading-login-cta cta-lg" href="/login">J'ai déjà un compte</a>
    </div>
  </div>

</main>

    <!-- Banniere des cookies -->
    <div id="cookie-banner" class="cookie-banner">
        <p>Nous utilisons des cookies pour améliorer votre expérience sur notre site. En poursuivant votre navigation, vous acceptez notre <a href="/politiqueconfidentialite">politique de confidentialité</a>.</p>
        <button onclick="acceptCookies()">Accepter</button>
    </div>
<script src="../script.js"></script>
</body>
</html>