<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mentions légales - Urban-Roots</title>

    <!-- SEO Meta Tags -->
    <meta name="description" content="Retrouvez toutes les informations légales concernant Urban-Roots, la plateforme de jardinage urbain collaboratif.">
    <meta name="author" content="Urban-Roots">

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Mentions légales - Urban-Roots">
    <meta property="og:description" content="Retrouvez toutes les informations légales concernant Urban-Roots, la plateforme de jardinage urbain collaboratif.">
    <meta property="og:image" content="/img/Hero-Image.svg">
    <meta property="og:url" content="https://www.urbanroot.fr/mentionslegales">
    <meta property="og:type" content="website">

    <!-- Canonical Link -->
    <link rel="canonical" href="https://www.urbanroot.fr/mentionslegales">
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <link href="/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap" rel="stylesheet">
</head>


<body>
<!-- Header -->
<header id="header" class=" flex fixed top-0 left-0 w-full z-50">
    <div class="header-desktop">
        <a href="/">
            <p class="heading3">Urban-Roots</p>
        </a>
        <div class="hidden xl:flex menu-desktop">
            <a href="/espace-jardinage" class="desktop-navlink">Espace jardinage</a>
            <a href="/espace-communautaire" class="desktop-navlink" >Espace communautaire</a>
            <a href="/blog" class="desktop-navlink">Modules éducatifs</a>
            <a href="/faq" class="desktop-navlink">FAQ</a>
            <a href="/contact" class="desktop-navlink">Contact</a>
        </div>
    </div>

    <div id="menu-burger" class="xl:hidden">
        <img src="/img/fi-rr-menu-burger.svg" alt="menu-burger" id="burger-icon">
    </div>
</header>
<div id="content-area"></div>
<main>
    <!-- Fullscreen menu -->
    <nav id="fullscreen-menu" class="fixed inset-0 hidden z-40">
        <div>
            <a href="/espace-jardinage">Espace jardinage</a>
            <a href="/espace-communautaire">Espace communautaire</a>
            <a href="/blog">Modules éducatifs</a>
            <a href="/faq">FAQ</a>
            <a href="/contact">Contact</a>
        </div>
    </nav>

    <!-- Popup -->
    <div id="popup-overlay" class="fixed inset-0 hidden z-50 flex items-center justify-center">
        <div id="popup" class="nl-signup">
            <div class="popup-close">
                <div class="p-2 rounded-xl	">
                    <img src="/img/close-svgrepo-com.svg" id="close-popup" class=" cursor-pointer w-6 h-6" alt="icon close popup">
                </div>
            </div>
            <h3 class="heading3">
                Inscrivez-vous dès aujourd'hui et soyez les premiers informés !
            </h3>
            <p>Soyez les premiers informés et profitez d'un accès exclusif en avant-première !</p>
            <form action="" method="get" name="mc-embedded-subscribe-form" >
                <div class="signup-form">
                    <input placeholder="Entrez votre adresse e-mail" type="email" name="EMAIL" id="mce-EMAIL" required>
                    <div class="response hidden" id="mce-error-response"></div>
                    <div class="response hidden" id="mce-success-response"></div>
                    <button type="submit" name="subscribe" class="cta-lg primary-cta">
                        <span>Je m'inscris</span>
                        <img src="/img/arrow-right-svgrepo-com.svg" class="w-6 h-6" alt="arrow-right">
                    </button>
                </div>
            </form>
        </div>
    </div>

    <!-- Contenu des Politique de confidentialité -->
    <section class=" mx-4 sm:mx-6 md:mx-auto politique-de-confidentialite">
        <h1 class="heading2">Mentions légales</h1>
          <p class="paragraph-text">
            <b>Dernière mise à jour : 22/06/2024</b>
            <br><br>
          </p>
        <h2 class="heading4"><b>1. Éditeur du site</b></h2>
        <p class="paragraph-text">
          Le site https://www.urbanroot.fr/ (ci-après "le Site") est édité par :
          <br>Urban-Roots
          <br>Siège social : 8 bis Rue de la Fontaine au Roi, 75011 Paris
          <br>Directeur de la publication : Paul DECALF
          <br>Email : contact@urbanroot.com
          <br><br>
        </p>

        <h2 class="heading4"><b>2. Hébergeur du Site</b></h2>
        <p class="paragraph-text">
          Le Site est hébergé par :
          <br>Heroku
          <br>Adresse : 415 Mission Street, Suite 300 San Francisco, CA 94105 États-Unis
          <br>Téléphone : N/A
          <br>Site web : https://heroku.com/
          <br><br>
        </p>
        <h2 class="heading4"><b>3. Propriété intellectuelle</b></h2>
        <p class="paragraph-text">
          L'ensemble des contenus présents sur le Site, y compris, mais sans s'y limiter, les textes, graphismes, logos, icônes, images, clips audio et vidéo, logiciels, sont la propriété de Urban-Roots ou de ses partenaires et sont protégés par les lois françaises et internationales relatives à la propriété intellectuelle.
          <br><br>
          Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du Site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de Urban-Roots.
          <br><br>
        </p>
        <h2 class="heading4"><b>4. Données personnelles</b></h2>
        <p class="paragraph-text">
            Urban-Roots s'engage à ce que la collecte et le traitement de vos données, effectués à partir du Site, soient conformes au règlement général sur la protection des données (RGPD) et à la loi Informatique et Libertés.
          <br><br>
          Pour plus d'informations sur la manière dont nous traitons vos données personnelles, veuillez consulter notre Politique de Confidentialité.
          <br><br>
        </p>
        <h2 class="heading4"><b>5. Cookies</b></h2>
        <p class="paragraph-text">
          Le Site utilise des cookies pour améliorer l'expérience utilisateur, analyser l'utilisation du Site et permettre certaines fonctionnalités. Pour en savoir plus sur les cookies que nous utilisons et comment les gérer, veuillez consulter notre Politique de confidentialité.
          <br><br>
        </p>
        <h2 class="heading4"><b>6. Responsabilité</b></h2>
        <p class="paragraph-text">
            Urban-Roots s'efforce d'assurer au mieux de ses capacités l'exactitude et la mise à jour des informations diffusées sur le Site. Cependant, Urban-Roots ne peut garantir l'exactitude, la précision ou l'exhaustivité des informations mises à disposition sur le Site.
          <br><br>
          En conséquence, Urban-Roots décline toute responsabilité pour toute imprécision, inexactitude ou omission portant sur des informations disponibles sur le Site. De même, Urban-Roots ne peut être tenu responsable des dommages résultant de l'utilisation du Site ou de l'impossibilité de l'utiliser.
          <br><br>
        </p>
        <h2 class="heading4"><b>7. Liens Hypertextes</b></h2>
        <p class="paragraph-text">
          Le Site peut contenir des liens hypertextes vers d'autres sites. Urban-Roots n'exerce aucun contrôle sur le contenu de ces sites et décline toute responsabilité quant aux contenus vers lesquels ces liens renvoient.
          <br><br>
        </p>
        <h2 class="heading4"><b>8. Droit applicable</b></h2>
        <p class="paragraph-text">
          Les présentes mentions légales sont régies par le droit français. En cas de litige et à défaut de résolution amiable, le différend sera porté devant les tribunaux français compétents.
          <br><br>
        </p>
        <h2 class="heading4"><b>9. Contact</b></h2>
        <p class="paragraph-text">
          Pour toute question ou information concernant le Site et son contenu, vous pouvez nous contacter à l'adresse suivante : contact@urban-roots.com.
          <br><br>
        </p>
    </section>

    <!-- Banniere des cookies -->
    <div id="cookie-banner" class="cookie-banner">
        <p>Nous utilisons des cookies pour améliorer votre expérience sur notre site. En poursuivant votre navigation, vous acceptez notre <a href="/politiqueconfidentialite">politique de confidentialité</a>.</p>
        <button onclick="acceptCookies()">Accepter</button>
    </div>

</main>

<!-- Footer-->
<footer>
    <div>
        <div class="newsletter-signup">
            <div class="heading">
                <p class="home-subheading">
                    Rejoignez-nous
                </p>
                <h2 class="heading2">Prêt à transformer votre jardin en un espace de vie éco-responsable ?</h2>
            </div>
            <div class="nl-signup">
                <p>
                    Inscrivez-vous à notre newsletter pour recevoir des conseils, des astuces et des ressources sur le jardinage urbain collaboratif.
                </p>
                <form action="" method="get" name="mc-embedded-subscribe-form" >
                    <div class="signup-form">
                        <input placeholder="Entrez votre adresse e-mail" type="email" name="EMAIL" required>
                        <button type="submit" name="subscribe" class="cta-lg tonal-cta">
                            <span id="submit-waitlist-footer" class="plus-jakarta">Je m'inscris</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#FFF">
                                <path d="M18 11.9996C17.9951 11.4735 17.7832 10.9705 17.41 10.5996L13.12 6.29958C12.9326 6.11333 12.6792 6.00879 12.415 6.00879C12.1508 6.00879 11.8974 6.11333 11.71 6.29958C11.6163 6.39254 11.5419 6.50315 11.4911 6.62501C11.4403 6.74686 11.4142 6.87757 11.4142 7.00958C11.4142 7.14159 11.4403 7.2723 11.4911 7.39416C11.5419 7.51602 11.6163 7.62662 11.71 7.71958L15 10.9996H5C4.73478 10.9996 4.48043 11.1049 4.29289 11.2925C4.10536 11.48 4 11.7344 4 11.9996C4 12.2648 4.10536 12.5192 4.29289 12.7067C4.48043 12.8942 4.73478 12.9996 5 12.9996H15L11.71 16.2896C11.5217 16.4766 11.4154 16.7307 11.4144 16.996C11.4135 17.2614 11.518 17.5163 11.705 17.7046C11.892 17.8929 12.1461 17.9992 12.4115 18.0001C12.6768 18.0011 12.9317 17.8966 13.12 17.7096L17.41 13.4096C17.7856 13.0362 17.9978 12.5292 18 11.9996Z" fill="#FFF"></path>
                            </svg>
                        </button>
                    </div>
                </form>
                <p class="rgpd-message">
                    En renseignant votre adresse e-mail, vous acceptez de recevoir la newsletter de Urban-Roots et vous reconnaissez avoir pris connaissance de notre <a href="/politiqueconfidentialite">politique de confidentialité</a>.
                </p>
            </div>
        </div>
        <div class="copyright-bar">
            <div class="links">
                <p>© 2024 Urban-Roots. Tous droits réservés</p>
                <div class="links">
                    <a href="/politiqueconfidentialite">Politique de confidentialité</a>
                    <a href="/mentionslegales">Mentions légales</a>
                </div>
            </div>
            <div class="links">
                <a target="_blank" href="https://www.facebook.com/"><img class="icon-reseaux" src="/img/icons8-facebook.svg" alt="icon facebook"></a>
                <a target="_blank" href="https://www.instagram.com/"><img src="/img/icons8-insta.svg" alt="icon instagram" class="icon-reseaux"></a>
                <a target="_blank" href="https://www.tiktok.com/"><img src="/img/tiktok-svgrepo-com.svg" alt="icon tiktok" class="icon-reseaux"></a>
                <a target="_blank" href="https://www.youtube.com/"><img src="/img/youtube-168-svgrepo-com.svg" alt="icon tiktok" class="icon-reseaux"></a>
            </div>
        </div>

    </div>
</footer>
<script src="../script.js"></script>
</body>
</html>