<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application Smoozy - Apprenons à nous connaître !</title>

    <!-- SEO Meta Tags -->
    <meta name="description" content="Personnalise ton profil et partage ce qui te rend unique ! 🚀">
    <meta name="author" content="Smoozy">

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Application Smoozy - Apprenons à nous connaître !">
    <meta property="og:description" content="Personnalise ton profil et partage ce qui te rend unique ! 🚀">
    <meta property="og:image" content="/img/Hero-Image.svg">
    <meta property="og:url" content="https://smoozy-app.com/profil-onboarding">
    <meta property="og:type" content="website">

    <!-- Canonical Link -->
    <link rel="canonical" href="https://smoozy-app.com/profil-onboarding">
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <link href="/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap" rel="stylesheet">

    <!-- Google Tag Manager -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DSKHG4RCJG"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-DSKHG4RCJG');
    </script>
</head>

<body style="background: #CEC5F8">
    <!-- Message d'information pour les écrans de 600px et plus -->
    <div class="desktop-info-message">
        Pour visualiser cette page, veuillez utiliser un appareil mobile. (max-width:600px)
    </div>
<main class="mobile-only-content profil-onboarding">
  <div>
    <h1>Apprenons à nous connaître !</h1>
    <p>Personnalise ton profil et partage ce qui te rend unique ! 🚀</p>
  </div>
  <img src="/img/group161.svg" alt="Image de représentation">
  <a href="/profil-onboarding-2" class="profil-onboarding-start-cta">Allons-y !</a>
  <a href="/dashboard" class="profil-onboarding-back-cta">Je le ferai plus tard</a>
</main>

    <!-- Banniere des cookies -->
    <div id="cookie-banner" class="cookie-banner">
        <p>Nous utilisons des cookies pour améliorer votre expérience sur notre site. En poursuivant votre navigation, vous acceptez notre <a href="/politiqueconfidentialite">politique de confidentialité</a>.</p>
        <button onclick="acceptCookies()">Accepter</button>
    </div>

</body>
</html>