<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application Smoozy - Profil</title>

    <!-- SEO Meta Tags -->
    <meta name="description" content="Consultez votre profil Smoozy pour accéder à toutes vos informations personnelles et gérer votre compte."
    <meta name="author" content="Smoozy">

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Application Smoozy - Profil">
    <meta property="og:description" content="Consultez votre profil Smoozy pour accéder à toutes vos informations personnelles et gérer votre compte."
    <meta property="og:image" content="/img/Hero-Image.svg">
    <meta property="og:url" content="https://smoozy-app.com/profil">
    <meta property="og:type" content="website">

    <!-- Canonical Link -->
    <link rel="canonical" href="https://smoozy-app.com/profil">
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <link href="/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap" rel="stylesheet">

    <!-- Google Tag Manager -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DSKHG4RCJG"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-DSKHG4RCJG');
    </script>
</head>

<body style="background: #FFFCF1">
  <svg xmlns="http://www.w3.org/2000/svg" style="position: absolute;z-index: -1; top:0" viewBox="0 0 430 328" fill="none">
    <path d="M0 -0.5H430V288C430 288 370.139 328 215 328C59.8608 328 0 288 0 288L0 -0.5Z" fill="#E6E2FB"/>
  </svg>
      <!-- Message d'information pour les écrans de 600px et plus -->
    <div class="desktop-info-message">
        Pour visualiser cette page, veuillez utiliser un appareil mobile. (max-width:600px)
    </div>
<main class="mobile-only-content main-profil">
    <div class="top-bar">
      <button id="cta-popup-settings" class="cta-settings">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <g clip-path="url(#clip0_258_2943)">
            <path d="M16 12C16 11.2089 15.7654 10.4355 15.3259 9.77772C14.8864 9.11992 14.2616 8.60723 13.5307 8.30448C12.7998 8.00173 11.9956 7.92252 11.2196 8.07686C10.4437 8.2312 9.73098 8.61216 9.17157 9.17157C8.61216 9.73098 8.2312 10.4437 8.07686 11.2196C7.92252 11.9956 8.00173 12.7998 8.30448 13.5307C8.60723 14.2616 9.11992 14.8864 9.77772 15.3259C10.4355 15.7654 11.2089 16 12 16C13.0609 16 14.0783 15.5786 14.8284 14.8284C15.5786 14.0783 16 13.0609 16 12ZM10 12C10 11.6044 10.1173 11.2178 10.3371 10.8889C10.5568 10.56 10.8692 10.3036 11.2346 10.1522C11.6001 10.0009 12.0022 9.96126 12.3902 10.0384C12.7781 10.1156 13.1345 10.3061 13.4142 10.5858C13.6939 10.8655 13.8844 11.2219 13.9616 11.6098C14.0387 11.9978 13.9991 12.3999 13.8478 12.7654C13.6964 13.1308 13.44 13.4432 13.1111 13.6629C12.7822 13.8827 12.3956 14 12 14C11.4696 14 10.9609 13.7893 10.5858 13.4142C10.2107 13.0391 10 12.5304 10 12Z" fill="#2F2F2F"/>
            <path d="M10.1 21.294L10.356 20.85C11.4436 21.0499 12.5584 21.0499 13.646 20.85L13.902 21.294C14.099 21.6355 14.3613 21.9348 14.6739 22.1748C14.9866 22.4149 15.3435 22.591 15.7242 22.6932C16.1049 22.7953 16.502 22.8215 16.8928 22.7702C17.2837 22.7188 17.6606 22.591 18.002 22.394C18.3434 22.1971 18.6427 21.9348 18.8828 21.6221C19.1229 21.3095 19.299 20.9526 19.4011 20.5719C19.5033 20.1911 19.5294 19.794 19.4781 19.4032C19.4268 19.0124 19.299 18.6355 19.102 18.294L18.845 17.849C19.5631 17.0086 20.1198 16.0427 20.487 15L21 15C21.7956 15 22.5587 14.684 23.1213 14.1214C23.6839 13.5588 24 12.7957 24 12C24 11.2044 23.6839 10.4413 23.1213 9.87872C22.5587 9.31611 21.7956 9.00004 21 9.00004L20.487 9.00004C20.1184 7.95743 19.5604 6.99189 18.841 6.15204L19.1 5.70504C19.4978 5.01548 19.6054 4.19612 19.3991 3.42723C19.1928 2.65833 18.6896 2.00287 18 1.60504C17.3104 1.20722 16.4911 1.09961 15.7222 1.3059C14.9533 1.51219 14.2978 2.01548 13.9 2.70504L13.644 3.14904C12.5564 2.94915 11.4416 2.94915 10.354 3.14904L10.098 2.70504C9.70018 2.01548 9.04472 1.51219 8.27582 1.3059C7.50692 1.09961 6.68756 1.20722 5.998 1.60504C5.30844 2.00287 4.80515 2.65833 4.59886 3.42722C4.39257 4.19612 4.50018 5.01548 4.898 5.70504L5.155 6.15004C4.43681 6.99081 3.88014 7.95702 3.513 9.00004L3 9.00004C2.20435 9.00004 1.44129 9.31611 0.878679 9.87872C0.31607 10.4413 -4.37159e-07 11.2044 -4.71938e-07 12C-5.06717e-07 12.7957 0.31607 13.5588 0.878679 14.1214C1.44129 14.684 2.20435 15 3 15L3.513 15C3.88157 16.0427 4.4396 17.0082 5.159 17.848L4.901 18.295C4.50317 18.9846 4.39557 19.804 4.60186 20.5729C4.80815 21.3418 5.31143 21.9972 6.001 22.395C6.69056 22.7929 7.50992 22.9005 8.27882 22.6942C9.04772 22.4879 9.70317 21.9846 10.101 21.295L10.1 21.294ZM13.876 18.746C12.6489 19.0847 11.3531 19.0847 10.126 18.746C9.91243 18.6869 9.68526 18.7004 9.48019 18.7844C9.27511 18.8684 9.10375 19.0181 8.993 19.21L8.367 20.294C8.23439 20.5239 8.01592 20.6916 7.75965 20.7603C7.50339 20.829 7.23031 20.7932 7.0005 20.6605C6.77069 20.5279 6.60297 20.3095 6.53424 20.0532C6.46551 19.7969 6.50139 19.5239 6.634 19.294L7.262 18.208C7.37326 18.0159 7.41744 17.7923 7.38756 17.5723C7.35769 17.3523 7.25547 17.1485 7.097 16.993C6.18834 16.103 5.54002 14.9816 5.222 13.75C5.16673 13.5351 5.04152 13.3446 4.86608 13.2086C4.69064 13.0727 4.47496 12.9989 4.253 12.999L3 12.999C2.73478 12.999 2.48043 12.8937 2.29289 12.7061C2.10536 12.5186 2 12.2643 2 11.999C2 11.7338 2.10536 11.4795 2.29289 11.2919C2.48043 11.1044 2.73478 10.999 3 10.999L4.252 10.999C4.47396 10.9992 4.68965 10.9254 4.86508 10.7894C5.04052 10.6535 5.16573 10.463 5.221 10.248C5.54032 9.01639 6.19004 7.89537 7.1 7.00604C7.25847 6.85057 7.36069 6.64678 7.39057 6.4268C7.42044 6.20682 7.37626 5.98315 7.265 5.79104L6.638 4.70704C6.5713 4.59327 6.52777 4.46743 6.5099 4.33677C6.49203 4.2061 6.50019 4.0732 6.5339 3.9457C6.56761 3.8182 6.62621 3.69862 6.70631 3.59386C6.78642 3.4891 6.88646 3.40122 7.00067 3.33528C7.11488 3.26934 7.24101 3.22664 7.37179 3.20964C7.50257 3.19264 7.63542 3.20168 7.76269 3.23623C7.88996 3.27079 8.00915 3.33017 8.11337 3.41098C8.2176 3.49178 8.30482 3.5924 8.37 3.70704L8.996 4.79104C9.10675 4.98299 9.27812 5.13272 9.48319 5.2167C9.68827 5.30069 9.91543 5.31417 10.129 5.25504C11.3561 4.9164 12.6519 4.9164 13.879 5.25504C14.0921 5.31311 14.3185 5.29898 14.5227 5.21486C14.727 5.13074 14.8976 4.98136 15.008 4.79004L15.634 3.70604C15.7666 3.47623 15.9851 3.30851 16.2413 3.23978C16.4976 3.17105 16.7707 3.20693 17.0005 3.33954C17.2303 3.47215 17.398 3.69062 17.4668 3.94689C17.5355 4.20316 17.4996 4.47623 17.367 4.70604L16.739 5.79204C16.6275 5.98362 16.5828 6.20682 16.6119 6.42657C16.6411 6.64632 16.7424 6.85015 16.9 7.00604C17.8087 7.89613 18.457 9.01747 18.775 10.249C18.8304 10.4647 18.9562 10.6556 19.1325 10.7917C19.3087 10.9277 19.5254 11.001 19.748 11L21 11C21.2652 11 21.5196 11.1054 21.7071 11.2929C21.8946 11.4805 22 11.7348 22 12C22 12.2653 21.8946 12.5196 21.7071 12.7071C21.5196 12.8947 21.2652 13 21 13L19.748 13C19.526 12.9999 19.3104 13.0737 19.1349 13.2096C18.9595 13.3456 18.8343 13.5361 18.779 13.751C18.4598 14.9831 17.8101 16.1044 16.9 16.994C16.7415 17.1495 16.6393 17.3533 16.6094 17.5733C16.5796 17.7933 16.6237 18.0169 16.735 18.209L17.362 19.293C17.4287 19.4068 17.4722 19.5327 17.4901 19.6633C17.508 19.794 17.4998 19.9269 17.4661 20.0544C17.4324 20.1819 17.3738 20.3015 17.2937 20.4062C17.2136 20.511 17.1135 20.5989 16.9993 20.6648C16.8851 20.7307 16.759 20.7734 16.6282 20.7904C16.4974 20.8074 16.3646 20.7984 16.2373 20.7639C16.11 20.7293 15.9909 20.6699 15.8866 20.5891C15.7824 20.5083 15.6952 20.4077 15.63 20.293L15.004 19.209C14.8933 19.0181 14.7225 18.8691 14.5183 18.7854C14.3141 18.7016 14.0879 18.6878 13.875 18.746L13.876 18.746Z" fill="#2F2F2F"/>
          </g>
          <defs>
            <clipPath id="clip0_258_2943">
              <rect width="24" height="24" fill="white" transform="translate(24) rotate(90)"/>
            </clipPath>
          </defs>
        </svg>
      </button>
      <a href="/dashboard" class="cta-close">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path d="M17.9998 6.00006C17.8123 5.81259 17.558 5.70728 17.2928 5.70728C17.0277 5.70728 16.7733 5.81259 16.5858 6.00006L11.9998 10.5861L7.41382 6.00006C7.22629 5.81259 6.97198 5.70728 6.70682 5.70728C6.44165 5.70728 6.18735 5.81259 5.99982 6.00006C5.81235 6.18759 5.70703 6.4419 5.70703 6.70706C5.70703 6.97223 5.81235 7.22653 5.99982 7.41406L10.5858 12.0001L5.99982 16.5861C5.81235 16.7736 5.70703 17.0279 5.70703 17.2931C5.70703 17.5582 5.81235 17.8125 5.99982 18.0001C6.18735 18.1875 6.44165 18.2928 6.70682 18.2928C6.97198 18.2928 7.22629 18.1875 7.41382 18.0001L11.9998 13.4141L16.5858 18.0001C16.7733 18.1875 17.0277 18.2928 17.2928 18.2928C17.558 18.2928 17.8123 18.1875 17.9998 18.0001C18.1873 17.8125 18.2926 17.5582 18.2926 17.2931C18.2926 17.0279 18.1873 16.7736 17.9998 16.5861L13.4138 12.0001L17.9998 7.41406C18.1873 7.22653 18.2926 6.97223 18.2926 6.70706C18.2926 6.4419 18.1873 6.18759 17.9998 6.00006Z" fill="white"/>
        </svg>
      </a>
    </div>
    <div class="informations-profil">
      <h2 id="prenom"></h2>
      <p class="role-family" id="familyName"></p> 
      <img id="imageProfil" alt="image de profil" class="profil-img">
      <button class="cta-edit-profil">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
          <g clip-path="url(#clip0_846_218)">
            <path d="M19.156 0.930072L6.96402 13.1221C6.49836 13.5852 6.1292 14.1361 5.8779 14.7429C5.6266 15.3497 5.49817 16.0003 5.50002 16.6571V18.0001C5.50002 18.2653 5.60538 18.5196 5.79291 18.7072C5.98045 18.8947 6.2348 19.0001 6.50002 19.0001H7.84302C8.49978 19.0019 9.15039 18.8735 9.75718 18.6222C10.364 18.3709 10.9149 18.0017 11.378 17.5361L23.57 5.34407C24.1544 4.75824 24.4826 3.96455 24.4826 3.13707C24.4826 2.3096 24.1544 1.5159 23.57 0.930072C22.9757 0.361966 22.1852 0.0449219 21.363 0.0449219C20.5408 0.0449219 19.7503 0.361966 19.156 0.930072ZM22.156 3.93007L9.96402 16.1221C9.40015 16.6825 8.63803 16.998 7.84302 17.0001H7.50002V16.6571C7.5021 15.8621 7.81759 15.0999 8.37802 14.5361L20.57 2.34407C20.7836 2.14003 21.0676 2.02617 21.363 2.02617C21.6584 2.02617 21.9424 2.14003 22.156 2.34407C22.366 2.55459 22.4839 2.83976 22.4839 3.13707C22.4839 3.43438 22.366 3.71956 22.156 3.93007Z" fill="#2F2F2F"/>
            <path d="M23.5 8.979C23.2348 8.979 22.9804 9.08436 22.7929 9.27189C22.6054 9.45943 22.5 9.71379 22.5 9.979V15H18.5C17.7044 15 16.9413 15.3161 16.3787 15.8787C15.8161 16.4413 15.5 17.2044 15.5 18V22H5.5C4.70435 22 3.94129 21.6839 3.37868 21.1213C2.81607 20.5587 2.5 19.7957 2.5 19V5C2.5 4.20435 2.81607 3.44129 3.37868 2.87868C3.94129 2.31607 4.70435 2 5.5 2H14.542C14.8072 2 15.0616 1.89464 15.2491 1.70711C15.4366 1.51957 15.542 1.26522 15.542 1C15.542 0.734784 15.4366 0.48043 15.2491 0.292893C15.0616 0.105357 14.8072 0 14.542 0L5.5 0C4.17441 0.00158786 2.90356 0.528882 1.96622 1.46622C1.02888 2.40356 0.501588 3.67441 0.5 5L0.5 19C0.501588 20.3256 1.02888 21.5964 1.96622 22.5338C2.90356 23.4711 4.17441 23.9984 5.5 24H16.843C17.4999 24.0019 18.1507 23.8735 18.7576 23.6222C19.3646 23.3709 19.9157 23.0017 20.379 22.536L23.035 19.878C23.5008 19.4149 23.87 18.864 24.1215 18.2572C24.373 17.6504 24.5016 16.9998 24.5 16.343V9.979C24.5 9.71379 24.3946 9.45943 24.2071 9.27189C24.0196 9.08436 23.7652 8.979 23.5 8.979ZM18.965 21.122C18.563 21.523 18.0547 21.8006 17.5 21.922V18C17.5 17.7348 17.6054 17.4804 17.7929 17.2929C17.9804 17.1054 18.2348 17 18.5 17H22.425C22.3013 17.5535 22.024 18.0609 21.625 18.464L18.965 21.122Z" fill="#2F2F2F"/>
          </g>
          <defs>
            <clipPath id="clip0_846_218">
              <rect width="24" height="24" fill="white" transform="translate(0.5)"/>
            </clipPath>
          </defs>
        </svg>
        <p>Éditer</p>
      </button>

      <div class="card-complete-profil">
        <div class="card-complete-profil-content">
          <svg xmlns="http://www.w3.org/2000/svg" width="69" height="70" viewBox="0 0 69 70" fill="none">
            <rect y="0.5" width="69" height="69" rx="34.5" fill="#E6E2FB"/>
            <path d="M23.6689 24.5854V18.8848H45.3231V24.5934C45.3231 28.3615 43.3986 31.6848 40.4715 33.6254C39.485 34.2804 39.485 35.7359 40.4715 36.3908C43.3905 38.3314 45.3231 41.6467 45.3231 45.4228V51.1315H23.6689V45.4228C23.6689 41.6548 25.5934 38.3314 28.5205 36.3908C29.507 35.7359 29.507 34.2804 28.5205 33.6254C25.5934 31.6767 23.6689 28.3534 23.6689 24.5854Z" fill="#C1DFFF"/>
            <path d="M34.4961 26.7928H42.5254C42.6871 26.1864 42.7761 25.6365 42.8165 25.208C42.865 24.7147 42.4607 24.2943 41.9675 24.3024C38.3693 24.3832 36.4367 24.9654 34.4961 25.5476V26.7928Z" fill="#E9D04D"/>
            <path d="M40.4799 36.383C39.5662 35.7765 39.5015 34.4909 40.2696 33.7793C38.5959 34.8386 36.6148 35.445 34.4963 35.445C32.3697 35.445 30.3967 34.8305 28.7229 33.7793C29.4992 34.4909 29.4264 35.7765 28.5127 36.383C25.5937 38.3236 23.6611 41.6388 23.6611 45.415V51.1236H45.3153V45.415C45.3234 41.6469 43.3989 38.3236 40.4799 36.383Z" fill="#97C9FF"/>
            <path d="M42.5255 26.7928C34.7873 26.7362 34.4073 24.4722 27.041 24.3024C26.5477 24.2943 26.1434 24.7147 26.1919 25.208C26.3456 26.8413 27.1137 30.2455 30.8494 32.0729C31.5448 32.4126 32.1432 32.9462 32.5151 33.6335C32.8305 34.2238 33.0084 34.8949 33.0084 35.5984V45.7544H35.9921V35.5984C35.9921 34.8949 36.17 34.2238 36.4853 33.6254C36.8492 32.9462 37.4476 32.4126 38.143 32.0729C40.2696 31.0379 41.8868 29.1135 42.5255 26.7928Z" fill="#F3FF99"/>
            <path d="M33.0081 45.7543H35.9918V35.5983C35.9918 35.5094 35.9918 35.4285 35.9999 35.3396H35.9918C35.9918 36.1644 35.3207 36.8355 34.4959 36.8355C33.6711 36.8355 33 36.1644 33 35.3396C33.0081 35.4285 33.0081 35.5094 33.0081 35.5983V45.7543Z" fill="#E9D04D"/>
            <path d="M34.496 40.7085C29.0784 40.7085 29.0784 49.037 23.6689 49.037V51.956H45.3231V49.037C39.9136 49.037 39.9136 40.7085 34.496 40.7085Z" fill="#F3FF99"/>
            <path d="M39.2022 49.037C34.8197 49.037 32.5233 43.4577 36.0002 40.9511C35.5474 40.7974 35.0542 40.7085 34.5043 40.7085C29.0867 40.7085 29.0867 49.037 23.6772 49.037V51.956H39.2103V49.037H39.2022Z" fill="#E9D04D"/>
            <path d="M45.3233 20.9631H23.6691C22.7473 20.9631 22.0034 20.2192 22.0034 19.2974V16.7988H46.9971V19.2974C46.989 20.2192 46.2451 20.9631 45.3233 20.9631Z" fill="#B5A7F4"/>
            <path d="M27.0005 19.2974V16.7988H22.0034V19.2974C22.0034 20.2192 22.7473 20.9631 23.6691 20.9631H28.6662C27.7444 20.9631 27.0005 20.2192 27.0005 19.2974Z" fill="#6C54D8"/>
            <path d="M23.6691 49.0369H45.3233C46.2451 49.0369 46.989 49.7808 46.989 50.7026V53.2011H22.0034V50.7026C22.0034 49.7808 22.7473 49.0369 23.6691 49.0369Z" fill="#B5A7F4"/>
            <path d="M27.0005 50.7026V53.2011H22.0034V50.7026C22.0034 49.7808 22.7473 49.0369 23.6691 49.0369H28.6662C27.7444 49.0369 27.0005 49.7808 27.0005 50.7026Z" fill="#6C54D8"/>
            <path d="M48.6545 17.6315H20.3376C19.4158 17.6315 18.6719 16.8875 18.6719 15.9658C18.6719 15.044 19.4158 14.3 20.3376 14.3H48.6626C49.5844 14.3 50.3283 15.044 50.3283 15.9658C50.3202 16.8875 49.5763 17.6315 48.6545 17.6315Z" fill="#9D8AF1"/>
            <path d="M25.3347 15.9658C25.3347 15.044 26.0786 14.3 27.0004 14.3H20.3376C19.4158 14.3 18.6719 15.044 18.6719 15.9658C18.6719 16.8875 19.4158 17.6315 20.3376 17.6315H27.0004C26.0786 17.6315 25.3347 16.8875 25.3347 15.9658Z" fill="#846DED"/>
            <path d="M20.3376 52.3687H48.6626C49.5844 52.3687 50.3283 53.1126 50.3283 54.0344C50.3283 54.9562 49.5844 55.7001 48.6626 55.7001H20.3376C19.4158 55.7001 18.6719 54.9562 18.6719 54.0344C18.6719 53.1126 19.4158 52.3687 20.3376 52.3687Z" fill="#9D8AF1"/>
            <path d="M25.3347 54.0344C25.3347 54.9562 26.0786 55.7001 27.0004 55.7001H20.3376C19.4158 55.7001 18.6719 54.9562 18.6719 54.0344C18.6719 53.1126 19.4158 52.3687 20.3376 52.3687H27.0004C26.0786 52.3687 25.3347 53.1126 25.3347 54.0344Z" fill="#846DED"/>
          </svg>
          <div class="card-complete-profil-content-text"> 
              <p class="heading4">Personnalise ton profil !</p>
              <p class="card-complete-profil-content-text-content">Partage tes passions, hobbies, talents cachés... pour que la famille puisse mieux te connaître !</p>
          </div>
        </div>
          <a href="/profil-onboarding" class="complete-profil-cta">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <g clip-path="url(#clip0_846_1896)">
                <path d="M8.684 23.485C8.501 23.814 8.161 24 7.809 24C7.645 24 7.478 23.96 7.324 23.874C2.669 21.288 0 16.96 0 12C0 5.383 5.383 0 12 0C12.731 0 13.465 0.066 14.181 0.198C14.724 0.298 15.084 0.819 14.984 1.362C14.884 1.906 14.362 2.267 13.82 2.165C13.223 2.056 12.612 2 12.001 2C6.486 2 2 6.486 2 12C2 16.213 4.294 19.903 8.295 22.126C8.777 22.395 8.952 23.003 8.683 23.485H8.684ZM23.803 9.819C23.704 9.276 23.185 8.912 22.639 9.016C22.096 9.116 21.736 9.637 21.836 10.18C21.945 10.775 22.001 11.387 22.001 11.999C22.001 15.308 19.31 17.999 16.001 17.999C12.692 17.999 10.001 15.308 10.001 11.999C10.001 11.446 9.553 10.999 9.001 10.999C8.449 10.999 8.001 11.446 8.001 11.999C8.001 16.41 11.59 19.999 16.001 19.999C20.412 19.999 24.001 16.41 24.001 11.999C24.001 11.266 23.935 10.532 23.803 9.818V9.819ZM13.173 6.586L18.879 0.879C20.012 -0.254 21.988 -0.254 23.122 0.879C24.291 2.049 24.291 3.951 23.122 5.121L17.415 10.828C16.66 11.584 15.655 12 14.587 12H13.001C12.449 12 12.001 11.553 12.001 11V9.414C12.001 8.346 12.418 7.341 13.173 6.586ZM14.001 10H14.587C15.113 10 15.629 9.786 16.001 9.414L21.708 3.707C22.098 3.317 22.098 2.683 21.708 2.293C21.33 1.914 20.671 1.914 20.294 2.293L14.586 8C14.208 8.378 14 8.88 14 9.414V10H14.001Z" fill="white"/>
              </g>
              <defs>
                <clipPath id="clip0_846_1896">
                  <rect width="24" height="24" fill="white"/>
                </clipPath>
              </defs>
            </svg>
            <p>Compléter mon profil</p>
          </a>
      </div>

      <div class="point-stats-profil">
        <div class="points-gamification">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
            <g clip-path="url(#clip0_258_2927)">
              <path d="M18.1417 7.45664C18.0058 7.40802 17.8815 7.33139 17.777 7.23172C17.6725 7.13204 17.5901 7.01154 17.5351 6.878C17.4801 6.74446 17.4538 6.60087 17.4578 6.45651C17.4618 6.31215 17.4961 6.17024 17.5584 6.03997C17.7976 5.53668 17.8751 4.97171 17.7804 4.42261C17.6856 3.8735 17.4233 3.36716 17.0293 2.9731C16.6354 2.57904 16.1291 2.31657 15.58 2.22171C15.0309 2.12686 14.4659 2.20426 13.9626 2.4433C13.8323 2.50549 13.6904 2.53967 13.5461 2.54361C13.4018 2.54756 13.2582 2.5212 13.1247 2.46623C12.9912 2.41126 12.8707 2.3289 12.771 2.22448C12.6713 2.12005 12.5946 1.99587 12.5459 1.85997C12.3586 1.33587 12.0138 0.882499 11.5588 0.561946C11.1038 0.241394 10.5608 0.0693359 10.0042 0.0693359C9.44767 0.0693359 8.9047 0.241394 8.4497 0.561946C7.99471 0.882499 7.64992 1.33587 7.46258 1.85997C7.41396 1.99595 7.33734 2.12022 7.23766 2.22472C7.13799 2.32922 7.01748 2.41162 6.88394 2.46661C6.75041 2.5216 6.60681 2.54793 6.46246 2.54392C6.3181 2.5399 6.17619 2.50563 6.04592 2.4433C5.54231 2.20236 4.97639 2.12351 4.4261 2.2176C3.87581 2.31169 3.36824 2.5741 2.9733 2.96867C2.57835 3.36325 2.31548 3.87058 2.22088 4.42078C2.12628 4.97098 2.20461 5.53698 2.44508 6.0408C2.50754 6.17106 2.54192 6.31298 2.546 6.45738C2.55008 6.60177 2.52377 6.74542 2.46877 6.87899C2.41377 7.01256 2.33131 7.13308 2.22674 7.23274C2.12216 7.3324 1.99781 7.40896 1.86175 7.45747C1.33802 7.64519 0.885072 7.99011 0.564846 8.44506C0.24462 8.90002 0.0727539 9.44279 0.0727539 9.99914C0.0727539 10.5555 0.24462 11.0983 0.564846 11.5532C0.885072 12.0082 1.33802 12.3531 1.86175 12.5408C1.9981 12.589 2.1228 12.6653 2.22775 12.7648C2.3327 12.8643 2.41556 12.9847 2.47096 13.1183C2.52636 13.2519 2.55305 13.3956 2.54931 13.5402C2.54557 13.6848 2.51148 13.8269 2.44925 13.9575C2.20995 14.4604 2.13216 15.0251 2.22657 15.5741C2.32097 16.123 2.58294 16.6293 2.97652 17.0234C3.37011 17.4176 3.87602 17.6802 4.42482 17.7754C4.97363 17.8706 5.53844 17.7936 6.04175 17.555C6.17202 17.4926 6.31393 17.4584 6.45829 17.4544C6.60265 17.4503 6.74624 17.4767 6.87978 17.5317C7.01331 17.5866 7.13382 17.6691 7.2335 17.7736C7.33317 17.8781 7.4098 18.0023 7.45842 18.1383C7.64576 18.6624 7.99054 19.1158 8.44554 19.4363C8.90054 19.7569 9.44351 19.9289 10.0001 19.9289C10.5567 19.9289 11.0996 19.7569 11.5546 19.4363C12.0096 19.1158 12.3544 18.6624 12.5417 18.1383C12.5904 18.0023 12.667 17.8781 12.7667 17.7736C12.8663 17.6691 12.9868 17.5866 13.1204 17.5317C13.2539 17.4767 13.3975 17.4503 13.5419 17.4544C13.6862 17.4584 13.8281 17.4926 13.9584 17.555C14.4617 17.7941 15.0267 17.8717 15.5758 17.7769C16.1249 17.6822 16.6312 17.4198 17.0253 17.0259C17.4193 16.6319 17.6818 16.1256 17.7767 15.5766C17.8715 15.0275 17.7941 14.4625 17.5551 13.9591C17.4929 13.8288 17.4587 13.687 17.4548 13.5426C17.4508 13.3983 17.4772 13.2548 17.5322 13.1213C17.5871 12.9878 17.6695 12.8673 17.7739 12.7676C17.8783 12.6679 18.0025 12.5912 18.1384 12.5425C18.6625 12.3551 19.1159 12.0103 19.4364 11.5553C19.757 11.1004 19.929 10.5574 19.929 10.0008C19.929 9.44423 19.757 8.90126 19.4364 8.44626C19.1159 7.99126 18.6625 7.64648 18.1384 7.45914L18.1417 7.45664Z" fill="#846DED"/>
            </g>
            <defs>
              <clipPath id="clip0_258_2927">
                <rect width="20" height="20" fill="white"/>
              </clipPath>
            </defs>
          </svg>
          <div class="points-gamification-content">
            <p class="points-gamification-content-title">0</p>
            <p class="points-gamification-content-content">Points gagnés</p>
          </div>
        </div>

        <div class="points-gamification">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
            <g clip-path="url(#clip0_260_2975)">
              <path d="M10.0002 13.3333C8.68162 13.3333 7.39269 12.9423 6.29636 12.2098C5.20004 11.4773 4.34555 10.4361 3.84097 9.21789C3.33638 7.99972 3.20436 6.65928 3.4616 5.36607C3.71883 4.07286 4.35377 2.88497 5.28612 1.95262C6.21847 1.02027 7.40636 0.385336 8.69956 0.128101C9.99277 -0.129134 11.3332 0.00288854 12.5514 0.507473C13.7696 1.01206 14.8108 1.86654 15.5433 2.96287C16.2758 4.0592 16.6668 5.34813 16.6668 6.66667C16.6648 8.43417 15.9618 10.1287 14.712 11.3785C13.4622 12.6283 11.7677 13.3314 10.0002 13.3333ZM10.0002 15C8.19466 14.9992 6.43887 14.4084 5.00017 13.3175V17.9167C5.00016 18.3091 5.11101 18.6936 5.31994 19.0258C5.52888 19.358 5.8274 19.6245 6.18113 19.7945C6.53487 19.9645 6.92942 20.0311 7.31935 19.9866C7.70929 19.9422 8.07874 19.7885 8.38517 19.5433L9.74017 18.46C9.814 18.401 9.90568 18.3689 10.0002 18.3689C10.0947 18.3689 10.1863 18.401 10.2602 18.46L11.6152 19.5433C11.9216 19.7885 12.291 19.9422 12.681 19.9866C13.0709 20.0311 13.4655 19.9645 13.8192 19.7945C14.1729 19.6245 14.4715 19.358 14.6804 19.0258C14.8893 18.6936 15.0002 18.3091 15.0002 17.9167V13.3175C13.5614 14.4083 11.8057 14.9991 10.0002 15Z" fill="#F7543E"/>
            </g>
            <defs>
              <clipPath id="clip0_260_2975">
                <rect width="20" height="20" fill="white"/>
              </clipPath>
            </defs>
          </svg>
          <div class="points-gamification-content">
            <p class="points-gamification-content-title">0</p>
            <p class="points-gamification-content-content">Badges obtenus</p>
          </div>
        </div>
      </div>


      <div id="house-rules" class="house-rules" style="display: none;">
          <div class="house-rules-content">
              <div class="house-rules-content-text">
                  <p class="heading3">Mettez en place des règles de vie claires ! 🏡</p>
                  <p class="house-rules-content-text-content">Faites de votre foyer un endroit où il fait bon vivre.</p>
              </div>
              <img src="/img/house.svg" alt="image d'une maison">
          </div>
          <a href="" class="complete-profil-cta">
              Établir les règles
          </a>
      </div>





    </div>
    

    <!-- Popup de settings -->
    <div id="settings-popup" class="hidden">
        <div class="popup-content-settings">
            <div class="rectangle-592"></div>
            <p class="heading3">Réglages</p>
              <a href="#" class="notifications">
                <div class="left-elements">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <g clip-path="url(#clip0_324_1530)">
                      <path d="M20.8594 15.3312L17.0874 21.4862C16.6732 22.1662 16.1093 22.7428 15.4387 23.172C14.7681 23.6012 14.0084 23.8718 13.2174 23.9632C13.009 23.9879 12.7993 24.0003 12.5894 24.0002C11.5149 23.9987 10.4671 23.6652 9.58943 23.0452C8.68248 23.7247 7.56216 24.0568 6.43143 23.9814C5.30071 23.906 4.23439 23.4281 3.42567 22.6343C2.61696 21.8404 2.11934 20.7832 2.02298 19.654C1.92663 18.5249 2.23791 17.3986 2.90043 16.4792L1.58543 15.1662C1.02392 14.6047 0.596741 13.9234 0.335877 13.1733C0.0750129 12.4233 -0.0127744 11.6239 0.0790896 10.8352C0.170954 10.0464 0.440088 9.28861 0.866337 8.61859C1.29259 7.94857 1.8649 7.38367 2.54043 6.9662L8.30743 3.4002C9.86964 2.39898 11.7068 1.91356 13.5597 2.01242C15.4126 2.11128 17.1876 2.78944 18.6344 3.9512L20.2934 2.2922C20.3857 2.19669 20.496 2.12051 20.618 2.0681C20.74 2.01569 20.8712 1.98811 21.004 1.98695C21.1368 1.9858 21.2685 2.0111 21.3914 2.06138C21.5143 2.11166 21.6259 2.18592 21.7198 2.27981C21.8137 2.3737 21.888 2.48535 21.9382 2.60825C21.9885 2.73115 22.0138 2.86283 22.0127 2.9956C22.0115 3.12838 21.9839 3.2596 21.9315 3.38161C21.8791 3.50361 21.8029 3.61396 21.7074 3.7062L20.0504 5.3642C21.1618 6.75644 21.8324 8.44863 21.9765 10.2242C22.1207 11.9998 21.7317 13.778 20.8594 15.3312ZM8.06542 21.6472L4.34643 17.9272C4.0558 18.447 3.94371 19.0477 4.02734 19.6373C4.11098 20.2269 4.38572 20.7728 4.80943 21.1912C5.23685 21.5972 5.7805 21.8594 6.36432 21.9412C6.94814 22.023 7.54291 21.9202 8.06542 21.6472ZM17.9864 6.0472C16.876 4.92604 15.4142 4.22023 13.8456 4.04784C12.2771 3.87546 10.6969 4.24696 9.36943 5.1002L3.59243 8.6662C3.17347 8.92517 2.81852 9.27557 2.55418 9.69116C2.28984 10.1067 2.12295 10.5768 2.066 11.066C2.00905 11.5552 2.06353 12.051 2.22535 12.5162C2.38718 12.9814 2.65215 13.4039 3.00043 13.7522L10.2904 21.0432C10.6393 21.3924 11.0627 21.658 11.529 21.82C11.9953 21.982 12.4922 22.0361 12.9824 21.9784C13.4727 21.9206 13.9434 21.7525 14.3593 21.4866C14.7751 21.2207 15.1253 20.8639 15.3834 20.4432L19.1384 14.3182C19.8718 13.0009 20.1561 11.4806 19.9483 9.9873C19.7404 8.49401 19.0517 7.1091 17.9864 6.0422V6.0472ZM19.2654 24.0002C19.0542 24.0006 18.8484 23.9341 18.6773 23.8103C18.5062 23.6865 18.3787 23.5116 18.3131 23.3109C18.2475 23.1102 18.2471 22.8938 18.312 22.6929C18.3769 22.4919 18.5038 22.3166 18.6744 22.1922C20.4254 20.8758 21.6105 18.9429 21.9894 16.7852C22.016 16.6553 22.0681 16.532 22.1428 16.4225C22.2175 16.3129 22.3132 16.2193 22.4243 16.1471C22.5355 16.0748 22.6599 16.0254 22.7904 16.0017C22.9208 15.978 23.0547 15.9805 23.1842 16.009C23.3136 16.0375 23.4362 16.0915 23.5446 16.1678C23.653 16.2441 23.7452 16.3412 23.8157 16.4534C23.8863 16.5657 23.9338 16.6908 23.9556 16.8216C23.9773 16.9524 23.9729 17.0862 23.9424 17.2152C23.4524 19.8469 21.9938 22.1993 19.8544 23.8082C19.6834 23.9329 19.4771 24.0002 19.2654 24.0002ZM1.00043 5.7392C0.815728 5.73838 0.634867 5.68642 0.477897 5.58909C0.320926 5.49175 0.193978 5.35285 0.11113 5.18777C0.0282815 5.0227 -0.00723057 4.8379 0.00853113 4.65388C0.0242928 4.46985 0.0907125 4.29379 0.200426 4.1452C1.83141 1.96579 4.23224 0.490526 6.91343 0.020204C7.17334 -0.0328393 7.44368 0.0195396 7.66497 0.165818C7.88626 0.312096 8.04038 0.540292 8.09343 0.800204C8.14647 1.06012 8.09409 1.33045 7.94781 1.55175C7.80153 1.77304 7.57334 1.92716 7.31343 1.9802C5.1114 2.34383 3.13566 3.54583 1.80043 5.3342C1.7078 5.45932 1.58725 5.56109 1.44836 5.6314C1.30948 5.70171 1.15609 5.73862 1.00043 5.7392Z" fill="#6E6E6E"/>
                    </g>
                    <defs>
                      <clipPath id="clip0_324_1530">
                        <rect width="24" height="24" fill="white"/>
                      </clipPath>
                    </defs>
                  </svg>
                  <p class="notification-cta">Notifications</p>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path d="M15.4003 9.87982L10.8103 5.28982C10.6229 5.10356 10.3695 4.99902 10.1053 4.99902C9.8411 4.99902 9.58765 5.10356 9.40029 5.28982C9.30656 5.38278 9.23217 5.49338 9.1814 5.61524C9.13063 5.7371 9.10449 5.8678 9.10449 5.99982C9.10449 6.13183 9.13063 6.26253 9.1814 6.38439C9.23217 6.50625 9.30656 6.61685 9.40029 6.70982L14.0003 11.2898C14.094 11.3828 14.1684 11.4934 14.2192 11.6152C14.27 11.7371 14.2961 11.8678 14.2961 11.9998C14.2961 12.1318 14.27 12.2625 14.2192 12.3844C14.1684 12.5063 14.094 12.6169 14.0003 12.7098L9.40029 17.2898C9.21199 17.4768 9.10567 17.7309 9.10473 17.9963C9.1038 18.2616 9.20831 18.5165 9.39529 18.7048C9.58227 18.8931 9.83639 18.9994 10.1018 19.0004C10.3671 19.0013 10.622 18.8968 10.8103 18.7098L15.4003 14.1198C15.9621 13.5573 16.2777 12.7948 16.2777 11.9998C16.2777 11.2048 15.9621 10.4423 15.4003 9.87982Z" fill="#ACACAC"/>
                </svg>
              </a>

              <a href="#" class="notifications">
                <div class="left-elements">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <g clip-path="url(#clip0_324_1542)">
                      <path d="M12 12C13.1867 12 14.3467 11.6481 15.3334 10.9888C16.3201 10.3295 17.0892 9.39246 17.5433 8.2961C17.9974 7.19975 18.1162 5.99335 17.8847 4.82946C17.6532 3.66558 17.0818 2.59648 16.2426 1.75736C15.4035 0.918247 14.3344 0.346802 13.1705 0.115291C12.0067 -0.11622 10.8003 0.00259972 9.7039 0.456726C8.60754 0.910851 7.67047 1.67989 7.01118 2.66658C6.35189 3.65328 6 4.81331 6 6C6.00159 7.59081 6.63424 9.11602 7.75911 10.2409C8.88399 11.3658 10.4092 11.9984 12 12ZM12 2C12.7911 2 13.5645 2.2346 14.2223 2.67412C14.8801 3.11365 15.3928 3.73836 15.6955 4.46927C15.9983 5.20017 16.0775 6.00444 15.9231 6.78036C15.7688 7.55629 15.3878 8.26902 14.8284 8.82843C14.269 9.38784 13.5563 9.7688 12.7804 9.92314C12.0044 10.0775 11.2002 9.99827 10.4693 9.69552C9.73836 9.39277 9.11365 8.88008 8.67412 8.22228C8.2346 7.56449 8 6.79113 8 6C8 4.93914 8.42143 3.92172 9.17157 3.17158C9.92172 2.42143 10.9391 2 12 2Z" fill="#6E6E6E"/>
                      <path d="M12 14C9.61386 14.0026 7.32622 14.9517 5.63896 16.639C3.95171 18.3262 3.00265 20.6139 3 23C3 23.2652 3.10536 23.5196 3.29289 23.7071C3.48043 23.8946 3.73478 24 4 24C4.26522 24 4.51957 23.8946 4.70711 23.7071C4.89464 23.5196 5 23.2652 5 23C5 21.1435 5.7375 19.363 7.05025 18.0503C8.36301 16.7375 10.1435 16 12 16C13.8565 16 15.637 16.7375 16.9497 18.0503C18.2625 19.363 19 21.1435 19 23C19 23.2652 19.1054 23.5196 19.2929 23.7071C19.4804 23.8946 19.7348 24 20 24C20.2652 24 20.5196 23.8946 20.7071 23.7071C20.8946 23.5196 21 23.2652 21 23C20.9974 20.6139 20.0483 18.3262 18.361 16.639C16.6738 14.9517 14.3861 14.0026 12 14Z" fill="#6E6E6E"/>
                    </g>
                    <defs>
                      <clipPath id="clip0_324_1542">
                        <rect width="24" height="24" fill="white"/>
                      </clipPath>
                    </defs>
                  </svg>
                  <p class="notification-cta">Gérer mon compte</p>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path d="M15.4003 9.87982L10.8103 5.28982C10.6229 5.10356 10.3695 4.99902 10.1053 4.99902C9.8411 4.99902 9.58765 5.10356 9.40029 5.28982C9.30656 5.38278 9.23217 5.49338 9.1814 5.61524C9.13063 5.7371 9.10449 5.8678 9.10449 5.99982C9.10449 6.13183 9.13063 6.26253 9.1814 6.38439C9.23217 6.50625 9.30656 6.61685 9.40029 6.70982L14.0003 11.2898C14.094 11.3828 14.1684 11.4934 14.2192 11.6152C14.27 11.7371 14.2961 11.8678 14.2961 11.9998C14.2961 12.1318 14.27 12.2625 14.2192 12.3844C14.1684 12.5063 14.094 12.6169 14.0003 12.7098L9.40029 17.2898C9.21199 17.4768 9.10567 17.7309 9.10473 17.9963C9.1038 18.2616 9.20831 18.5165 9.39529 18.7048C9.58227 18.8931 9.83639 18.9994 10.1018 19.0004C10.3671 19.0013 10.622 18.8968 10.8103 18.7098L15.4003 14.1198C15.9621 13.5573 16.2777 12.7948 16.2777 11.9998C16.2777 11.2048 15.9621 10.4423 15.4003 9.87982Z" fill="#ACACAC"/>
                </svg>
              </a>

              <a href="#" class="notifications">
                <div class="left-elements">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <g clip-path="url(#clip0_324_1555)">
                      <path d="M5.5 17C6.32843 17 7 16.3284 7 15.5C7 14.6716 6.32843 14 5.5 14C4.67157 14 4 14.6716 4 15.5C4 16.3284 4.67157 17 5.5 17Z" fill="#6E6E6E"/>
                      <path d="M19 3H5C3.67441 3.00159 2.40356 3.52888 1.46622 4.46622C0.528882 5.40356 0.00158786 6.67441 0 8L0 16C0.00158786 17.3256 0.528882 18.5964 1.46622 19.5338C2.40356 20.4711 3.67441 20.9984 5 21H19C20.3256 20.9984 21.5964 20.4711 22.5338 19.5338C23.4711 18.5964 23.9984 17.3256 24 16V8C23.9984 6.67441 23.4711 5.40356 22.5338 4.46622C21.5964 3.52888 20.3256 3.00159 19 3ZM5 5H19C19.7956 5 20.5587 5.31607 21.1213 5.87868C21.6839 6.44129 22 7.20435 22 8H2C2 7.20435 2.31607 6.44129 2.87868 5.87868C3.44129 5.31607 4.20435 5 5 5ZM19 19H5C4.20435 19 3.44129 18.6839 2.87868 18.1213C2.31607 17.5587 2 16.7956 2 16V10H22V16C22 16.7956 21.6839 17.5587 21.1213 18.1213C20.5587 18.6839 19.7956 19 19 19Z" fill="#6E6E6E"/>
                    </g>
                    <defs>
                      <clipPath id="clip0_324_1555">
                        <rect width="24" height="24" fill="white"/>
                      </clipPath>
                    </defs>
                  </svg>
                  <p class="notification-cta">Historique transactions</p>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path d="M15.4003 9.87982L10.8103 5.28982C10.6229 5.10356 10.3695 4.99902 10.1053 4.99902C9.8411 4.99902 9.58765 5.10356 9.40029 5.28982C9.30656 5.38278 9.23217 5.49338 9.1814 5.61524C9.13063 5.7371 9.10449 5.8678 9.10449 5.99982C9.10449 6.13183 9.13063 6.26253 9.1814 6.38439C9.23217 6.50625 9.30656 6.61685 9.40029 6.70982L14.0003 11.2898C14.094 11.3828 14.1684 11.4934 14.2192 11.6152C14.27 11.7371 14.2961 11.8678 14.2961 11.9998C14.2961 12.1318 14.27 12.2625 14.2192 12.3844C14.1684 12.5063 14.094 12.6169 14.0003 12.7098L9.40029 17.2898C9.21199 17.4768 9.10567 17.7309 9.10473 17.9963C9.1038 18.2616 9.20831 18.5165 9.39529 18.7048C9.58227 18.8931 9.83639 18.9994 10.1018 19.0004C10.3671 19.0013 10.622 18.8968 10.8103 18.7098L15.4003 14.1198C15.9621 13.5573 16.2777 12.7948 16.2777 11.9998C16.2777 11.2048 15.9621 10.4423 15.4003 9.87982Z" fill="#ACACAC"/>
                </svg>
              </a>

              <a href="#" class="notifications">
                <div class="left-elements">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <g clip-path="url(#clip0_324_1568)">
                      <path d="M20 7H18.262C18.8274 6.5016 19.2762 5.88488 19.5766 5.1936C19.8769 4.50232 20.0215 3.75341 20 3C20 2.73478 19.8946 2.48043 19.7071 2.29289C19.5196 2.10536 19.2652 2 19 2C18.7348 2 18.4804 2.10536 18.2929 2.29289C18.1054 2.48043 18 2.73478 18 3C18 5.622 15.629 6.53 13.826 6.841C14.4915 5.66105 14.8921 4.35037 15 3C15 2.20435 14.6839 1.44129 14.1213 0.87868C13.5587 0.31607 12.7956 0 12 0C11.2044 0 10.4413 0.31607 9.87868 0.87868C9.31607 1.44129 9 2.20435 9 3C9.10791 4.35037 9.50852 5.66105 10.174 6.841C8.371 6.53 6 5.622 6 3C6 2.73478 5.89464 2.48043 5.70711 2.29289C5.51957 2.10536 5.26522 2 5 2C4.73478 2 4.48043 2.10536 4.29289 2.29289C4.10536 2.48043 4 2.73478 4 3C3.97851 3.75341 4.12307 4.50232 4.42344 5.1936C4.7238 5.88488 5.1726 6.5016 5.738 7H4C2.93913 7 1.92172 7.42143 1.17157 8.17157C0.421427 8.92172 0 9.93913 0 11L0 12C0 12.5304 0.210714 13.0391 0.585786 13.4142C0.960859 13.7893 1.46957 14 2 14V19C2.00159 20.3256 2.52888 21.5964 3.46622 22.5338C4.40356 23.4711 5.67441 23.9984 7 24H17C18.3256 23.9984 19.5964 23.4711 20.5338 22.5338C21.4711 21.5964 21.9984 20.3256 22 19V14C22.5304 14 23.0391 13.7893 23.4142 13.4142C23.7893 13.0391 24 12.5304 24 12V11C24 9.93913 23.5786 8.92172 22.8284 8.17157C22.0783 7.42143 21.0609 7 20 7ZM12 2C12.2652 2 12.5196 2.10536 12.7071 2.29289C12.8946 2.48043 13 2.73478 13 3C12.8793 4.06283 12.5387 5.08891 12 6.013C11.4613 5.08891 11.1207 4.06283 11 3C11 2.73478 11.1054 2.48043 11.2929 2.29289C11.4804 2.10536 11.7348 2 12 2ZM2 11C2 10.4696 2.21071 9.96086 2.58579 9.58579C2.96086 9.21071 3.46957 9 4 9H11V12H2V11ZM4 19V14H11V22H7C6.20435 22 5.44129 21.6839 4.87868 21.1213C4.31607 20.5587 4 19.7956 4 19ZM20 19C20 19.7956 19.6839 20.5587 19.1213 21.1213C18.5587 21.6839 17.7956 22 17 22H13V14H20V19ZM13 12V9H20C20.5304 9 21.0391 9.21071 21.4142 9.58579C21.7893 9.96086 22 10.4696 22 11V12H13Z" fill="#6E6E6E"/>
                    </g>
                    <defs>
                      <clipPath id="clip0_324_1568">
                        <rect width="24" height="24" fill="white"/>
                      </clipPath>
                    </defs>
                  </svg>
                  <p class="notification-cta">Code cadeau</p>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path d="M15.4003 9.87982L10.8103 5.28982C10.6229 5.10356 10.3695 4.99902 10.1053 4.99902C9.8411 4.99902 9.58765 5.10356 9.40029 5.28982C9.30656 5.38278 9.23217 5.49338 9.1814 5.61524C9.13063 5.7371 9.10449 5.8678 9.10449 5.99982C9.10449 6.13183 9.13063 6.26253 9.1814 6.38439C9.23217 6.50625 9.30656 6.61685 9.40029 6.70982L14.0003 11.2898C14.094 11.3828 14.1684 11.4934 14.2192 11.6152C14.27 11.7371 14.2961 11.8678 14.2961 11.9998C14.2961 12.1318 14.27 12.2625 14.2192 12.3844C14.1684 12.5063 14.094 12.6169 14.0003 12.7098L9.40029 17.2898C9.21199 17.4768 9.10567 17.7309 9.10473 17.9963C9.1038 18.2616 9.20831 18.5165 9.39529 18.7048C9.58227 18.8931 9.83639 18.9994 10.1018 19.0004C10.3671 19.0013 10.622 18.8968 10.8103 18.7098L15.4003 14.1198C15.9621 13.5573 16.2777 12.7948 16.2777 11.9998C16.2777 11.2048 15.9621 10.4423 15.4003 9.87982Z" fill="#ACACAC"/>
                </svg>
              </a>

              <a href="#" class="notifications">
                <div class="left-elements">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <g clip-path="url(#clip0_324_1579)">
                      <path d="M19.949 5.53602L16.465 2.05002C15.8163 1.39816 15.0449 0.881354 14.1952 0.529482C13.3456 0.177611 12.4346 -0.00234388 11.515 2.30487e-05H7C5.67441 0.00161091 4.40356 0.528905 3.46622 1.46624C2.52888 2.40358 2.00159 3.67443 2 5.00002V19C2.00159 20.3256 2.52888 21.5965 3.46622 22.5338C4.40356 23.4711 5.67441 23.9984 7 24H17C18.3256 23.9984 19.5964 23.4711 20.5338 22.5338C21.4711 21.5965 21.9984 20.3256 22 19V10.485C22.0025 9.56545 21.8225 8.65451 21.4704 7.805C21.1184 6.95548 20.6012 6.18426 19.949 5.53602ZM18.535 6.95002C18.8404 7.26417 19.103 7.61721 19.316 8.00002H15C14.7348 8.00002 14.4804 7.89467 14.2929 7.70713C14.1054 7.51959 14 7.26524 14 7.00002V2.68402C14.3829 2.89695 14.7363 3.15918 15.051 3.46402L18.535 6.95002ZM20 19C20 19.7957 19.6839 20.5587 19.1213 21.1213C18.5587 21.684 17.7956 22 17 22H7C6.20435 22 5.44129 21.684 4.87868 21.1213C4.31607 20.5587 4 19.7957 4 19V5.00002C4 4.20437 4.31607 3.44131 4.87868 2.8787C5.44129 2.31609 6.20435 2.00002 7 2.00002H11.515C11.679 2.00002 11.838 2.03202 12 2.04702V7.00002C12 7.79567 12.3161 8.55873 12.8787 9.12134C13.4413 9.68395 14.2044 10 15 10H19.953C19.968 10.162 20 10.32 20 10.485V19Z" fill="#6E6E6E"/>
                    </g>
                    <defs>
                      <clipPath id="clip0_324_1579">
                        <rect width="24" height="24" fill="white"/>
                      </clipPath>
                    </defs>
                  </svg>
                  <p class="notification-cta">Politique de confidentialité</p>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path d="M15.4003 9.87982L10.8103 5.28982C10.6229 5.10356 10.3695 4.99902 10.1053 4.99902C9.8411 4.99902 9.58765 5.10356 9.40029 5.28982C9.30656 5.38278 9.23217 5.49338 9.1814 5.61524C9.13063 5.7371 9.10449 5.8678 9.10449 5.99982C9.10449 6.13183 9.13063 6.26253 9.1814 6.38439C9.23217 6.50625 9.30656 6.61685 9.40029 6.70982L14.0003 11.2898C14.094 11.3828 14.1684 11.4934 14.2192 11.6152C14.27 11.7371 14.2961 11.8678 14.2961 11.9998C14.2961 12.1318 14.27 12.2625 14.2192 12.3844C14.1684 12.5063 14.094 12.6169 14.0003 12.7098L9.40029 17.2898C9.21199 17.4768 9.10567 17.7309 9.10473 17.9963C9.1038 18.2616 9.20831 18.5165 9.39529 18.7048C9.58227 18.8931 9.83639 18.9994 10.1018 19.0004C10.3671 19.0013 10.622 18.8968 10.8103 18.7098L15.4003 14.1198C15.9621 13.5573 16.2777 12.7948 16.2777 11.9998C16.2777 11.2048 15.9621 10.4423 15.4003 9.87982Z" fill="#ACACAC"/>
                </svg>
              </a>

              <a href="#" class="notifications">
                <div class="left-elements">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <g clip-path="url(#clip0_324_1589)">
                      <path d="M20 0H4C1.794 0 0 1.794 0 4V16C0 18.206 1.794 20 4 20H6.923L10.672 23.156C11.054 23.496 11.533 23.665 12.009 23.664C12.477 23.664 12.94 23.502 13.301 23.18L17.148 20H20.001C22.207 20 24.001 18.206 24.001 16V4C24.001 1.794 22.206 0 20 0ZM22 16C22 17.103 21.103 18 20 18H16.788C16.556 18 16.33 18.081 16.151 18.229L11.98 21.644L7.932 18.235C7.751 18.083 7.523 18 7.287 18H3.999C2.896 18 1.999 17.103 1.999 16V4C1.999 2.897 2.896 2 3.999 2H19.999C21.102 2 21.999 2.897 21.999 4L22 16ZM13.5 16.5C13.5 17.328 12.828 18 12 18C11.172 18 10.5 17.328 10.5 16.5C10.5 15.672 11.172 15 12 15C12.828 15 13.5 15.672 13.5 16.5ZM15.864 6.951C16.354 8.849 15.435 10.818 13.678 11.631C13.439 11.742 12.999 12.271 12.999 12.8V13C12.999 13.553 12.552 14 11.999 14C11.446 14 10.999 13.553 10.999 13V12.8C10.999 11.416 11.946 10.23 12.837 9.817C13.569 9.478 14.222 8.593 13.928 7.452C13.758 6.796 13.204 6.242 12.549 6.073C11.906 5.904 11.278 6.03 10.777 6.418C10.283 6.801 10 7.378 10 8.001C10 8.554 9.553 9.001 9 9.001C8.447 9.001 8 8.554 8 8.001C8 6.754 8.565 5.601 9.553 4.837C10.539 4.071 11.815 3.815 13.05 4.137C14.408 4.487 15.514 5.591 15.864 6.951Z" fill="#6E6E6E"/>
                    </g>
                    <defs>
                      <clipPath id="clip0_324_1589">
                        <rect width="24" height="24" fill="white"/>
                      </clipPath>
                    </defs>
                  </svg>
                  <p class="notification-cta">Support</p>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path d="M15.4003 9.87982L10.8103 5.28982C10.6229 5.10356 10.3695 4.99902 10.1053 4.99902C9.8411 4.99902 9.58765 5.10356 9.40029 5.28982C9.30656 5.38278 9.23217 5.49338 9.1814 5.61524C9.13063 5.7371 9.10449 5.8678 9.10449 5.99982C9.10449 6.13183 9.13063 6.26253 9.1814 6.38439C9.23217 6.50625 9.30656 6.61685 9.40029 6.70982L14.0003 11.2898C14.094 11.3828 14.1684 11.4934 14.2192 11.6152C14.27 11.7371 14.2961 11.8678 14.2961 11.9998C14.2961 12.1318 14.27 12.2625 14.2192 12.3844C14.1684 12.5063 14.094 12.6169 14.0003 12.7098L9.40029 17.2898C9.21199 17.4768 9.10567 17.7309 9.10473 17.9963C9.1038 18.2616 9.20831 18.5165 9.39529 18.7048C9.58227 18.8931 9.83639 18.9994 10.1018 19.0004C10.3671 19.0013 10.622 18.8968 10.8103 18.7098L15.4003 14.1198C15.9621 13.5573 16.2777 12.7948 16.2777 11.9998C16.2777 11.2048 15.9621 10.4423 15.4003 9.87982Z" fill="#ACACAC"/>
                </svg>
              </a>

              <a href="#" class="notifications">
                <div class="left-elements">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <g clip-path="url(#clip0_324_1599)">
                      <path d="M17.5 1.91699C16.3739 1.93451 15.2724 2.24885 14.3067 2.82826C13.341 3.40768 12.5453 4.23166 12 5.21699C11.4546 4.23166 10.6589 3.40768 9.6932 2.82826C8.7275 2.24885 7.62601 1.93451 6.49996 1.91699C4.7049 1.99498 3.01366 2.78025 1.79574 4.10122C0.577818 5.4222 -0.0677922 7.17152 -4.17093e-05 8.96699C-4.17093e-05 13.514 4.78596 18.48 8.79996 21.847C9.69618 22.6001 10.8293 23.013 12 23.013C13.1706 23.013 14.3037 22.6001 15.2 21.847C19.214 18.48 24 13.514 24 8.96699C24.0677 7.17152 23.4221 5.4222 22.2042 4.10122C20.9863 2.78025 19.295 1.99498 17.5 1.91699ZM13.915 20.317C13.3789 20.7684 12.7007 21.0159 12 21.0159C11.2992 21.0159 10.621 20.7684 10.085 20.317C4.94696 16.006 1.99996 11.87 1.99996 8.96699C1.9316 7.70171 2.36632 6.46072 3.20932 5.51469C4.05232 4.56866 5.23519 3.99434 6.49996 3.91699C7.76472 3.99434 8.9476 4.56866 9.7906 5.51469C10.6336 6.46072 11.0683 7.70171 11 8.96699C11 9.23221 11.1053 9.48656 11.2929 9.6741C11.4804 9.86164 11.7347 9.96699 12 9.96699C12.2652 9.96699 12.5195 9.86164 12.7071 9.6741C12.8946 9.48656 13 9.23221 13 8.96699C12.9316 7.70171 13.3663 6.46072 14.2093 5.51469C15.0523 4.56866 16.2352 3.99434 17.5 3.91699C18.7647 3.99434 19.9476 4.56866 20.7906 5.51469C21.6336 6.46072 22.0683 7.70171 22 8.96699C22 11.87 19.053 16.006 13.915 20.313V20.317Z" fill="#6E6E6E"/>
                    </g>
                    <defs>
                      <clipPath id="clip0_324_1599">
                        <rect width="24" height="24" fill="white"/>
                      </clipPath>
                    </defs>
                  </svg>
                  <p class="notification-cta">Écrire un avis</p>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path d="M15.4003 9.87982L10.8103 5.28982C10.6229 5.10356 10.3695 4.99902 10.1053 4.99902C9.8411 4.99902 9.58765 5.10356 9.40029 5.28982C9.30656 5.38278 9.23217 5.49338 9.1814 5.61524C9.13063 5.7371 9.10449 5.8678 9.10449 5.99982C9.10449 6.13183 9.13063 6.26253 9.1814 6.38439C9.23217 6.50625 9.30656 6.61685 9.40029 6.70982L14.0003 11.2898C14.094 11.3828 14.1684 11.4934 14.2192 11.6152C14.27 11.7371 14.2961 11.8678 14.2961 11.9998C14.2961 12.1318 14.27 12.2625 14.2192 12.3844C14.1684 12.5063 14.094 12.6169 14.0003 12.7098L9.40029 17.2898C9.21199 17.4768 9.10567 17.7309 9.10473 17.9963C9.1038 18.2616 9.20831 18.5165 9.39529 18.7048C9.58227 18.8931 9.83639 18.9994 10.1018 19.0004C10.3671 19.0013 10.622 18.8968 10.8103 18.7098L15.4003 14.1198C15.9621 13.5573 16.2777 12.7948 16.2777 11.9998C16.2777 11.2048 15.9621 10.4423 15.4003 9.87982Z" fill="#ACACAC"/>
                </svg>
              </a>

              <a href="#" class="notifications" style="margin-bottom: 102px;">
                <div class="left-elements">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <g clip-path="url(#clip0_324_1609)">
                      <path d="M11.476 15C11.2108 15 10.9564 15.1054 10.7689 15.2929C10.5814 15.4804 10.476 15.7348 10.476 16V19C10.476 19.7956 10.1599 20.5587 9.59732 21.1213C9.03471 21.6839 8.27165 22 7.476 22H5C4.20435 22 3.44129 21.6839 2.87868 21.1213C2.31607 20.5587 2 19.7956 2 19V5C2 4.20435 2.31607 3.44129 2.87868 2.87868C3.44129 2.31607 4.20435 2 5 2H7.476C8.27165 2 9.03471 2.31607 9.59732 2.87868C10.1599 3.44129 10.476 4.20435 10.476 5V8C10.476 8.26522 10.5814 8.51957 10.7689 8.70711C10.9564 8.89464 11.2108 9 11.476 9C11.7412 9 11.9956 8.89464 12.1831 8.70711C12.3706 8.51957 12.476 8.26522 12.476 8V5C12.4744 3.67441 11.9471 2.40356 11.0098 1.46622C10.0724 0.528882 8.80159 0.00158786 7.476 0H5C3.67441 0.00158786 2.40356 0.528882 1.46622 1.46622C0.528882 2.40356 0.00158786 3.67441 0 5L0 19C0.00158786 20.3256 0.528882 21.5964 1.46622 22.5338C2.40356 23.4711 3.67441 23.9984 5 24H7.476C8.80159 23.9984 10.0724 23.4711 11.0098 22.5338C11.9471 21.5964 12.4744 20.3256 12.476 19V16C12.476 15.7348 12.3706 15.4804 12.1831 15.2929C11.9956 15.1054 11.7412 15 11.476 15Z" fill="#6E6E6E"/>
                      <path d="M22.867 9.87859L18.281 5.29259C18.1888 5.19708 18.0784 5.1209 17.9564 5.06849C17.8344 5.01608 17.7032 4.9885 17.5704 4.98734C17.4376 4.98619 17.3059 5.01149 17.183 5.06177C17.0602 5.11205 16.9485 5.18631 16.8546 5.2802C16.7607 5.37409 16.6865 5.48574 16.6362 5.60864C16.5859 5.73154 16.5606 5.86321 16.5618 5.99599C16.5629 6.12877 16.5905 6.25999 16.6429 6.382C16.6953 6.504 16.7715 6.61435 16.867 6.70659L21.129 10.9696L6 10.9996C5.73478 10.9996 5.48043 11.1049 5.29289 11.2925C5.10536 11.48 5 11.7344 5 11.9996C5 12.2648 5.10536 12.5192 5.29289 12.7067C5.48043 12.8942 5.73478 12.9996 6 12.9996L21.188 12.9686L16.865 17.2926C16.7695 17.3848 16.6933 17.4952 16.6409 17.6172C16.5885 17.7392 16.5609 17.8704 16.5598 18.0032C16.5586 18.136 16.5839 18.2676 16.6342 18.3905C16.6845 18.5134 16.7587 18.6251 16.8526 18.719C16.9465 18.8129 17.0582 18.8871 17.181 18.9374C17.3039 18.9877 17.4356 19.013 17.5684 19.0118C17.7012 19.0107 17.8324 18.9831 17.9544 18.9307C18.0764 18.8783 18.1868 18.8021 18.279 18.7066L22.865 14.1206C23.4277 13.5583 23.744 12.7955 23.7444 12C23.7447 11.2045 23.4292 10.4414 22.867 9.87859Z" fill="#6E6E6E"/>
                    </g>
                    <defs>
                      <clipPath id="clip0_324_1609">
                        <rect width="24" height="24" fill="white"/>
                      </clipPath>
                    </defs>
                  </svg>
                  <p class="notification-cta">Se déconnecter</p>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path d="M15.4003 9.87982L10.8103 5.28982C10.6229 5.10356 10.3695 4.99902 10.1053 4.99902C9.8411 4.99902 9.58765 5.10356 9.40029 5.28982C9.30656 5.38278 9.23217 5.49338 9.1814 5.61524C9.13063 5.7371 9.10449 5.8678 9.10449 5.99982C9.10449 6.13183 9.13063 6.26253 9.1814 6.38439C9.23217 6.50625 9.30656 6.61685 9.40029 6.70982L14.0003 11.2898C14.094 11.3828 14.1684 11.4934 14.2192 11.6152C14.27 11.7371 14.2961 11.8678 14.2961 11.9998C14.2961 12.1318 14.27 12.2625 14.2192 12.3844C14.1684 12.5063 14.094 12.6169 14.0003 12.7098L9.40029 17.2898C9.21199 17.4768 9.10567 17.7309 9.10473 17.9963C9.1038 18.2616 9.20831 18.5165 9.39529 18.7048C9.58227 18.8931 9.83639 18.9994 10.1018 19.0004C10.3671 19.0013 10.622 18.8968 10.8103 18.7098L15.4003 14.1198C15.9621 13.5573 16.2777 12.7948 16.2777 11.9998C16.2777 11.2048 15.9621 10.4423 15.4003 9.87982Z" fill="#ACACAC"/>
                </svg>
              </a>

              <p class="copyright-appli">App Version Beta 0.1</p>
        </div>
    </div>
  </main>

    <!-- Banniere des cookies -->
    <div id="cookie-banner" class="cookie-banner">
        <p>Nous utilisons des cookies pour améliorer votre expérience sur notre site. En poursuivant votre navigation, vous acceptez notre <a href="/politiqueconfidentialite">politique de confidentialité</a>.</p>
        <button onclick="acceptCookies()">Accepter</button>
    </div>
    <script src="../profil.js"></script>

</body>
</html>