<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Créez un compte dès maintenant - Urban-Roots</title>

    <!-- SEO Meta Tags -->
    <meta name="description" content="Créez un compte Urban-Roots pour accéder à votre espace personnel et profiter de toutes les fonctionnalités de l'application.">
    <meta name="author" content="Urban-Roots">

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Créez un compte dès maintenant - Urban-Roots">
    <meta property="og:description" content="Créez un compte Smoozy pour accéder à votre espace personnel et profiter de toutes les fonctionnalités de l'application.">
    <meta property="og:image" content="/img/Hero-Image.svg">
    <meta property="og:url" content="https://smoozy-app.com/register">
    <meta property="og:type" content="website">

    <!-- Canonical Link -->
    <link rel="canonical" href="https://smoozy-app.com/register">
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <link href="/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap" rel="stylesheet">
</head>

<body>

<main>

    <section class="register-section">
      <!-- Bouton pour revenir en arrière -->
      <a href="/" class="cta-back-to-loading">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path d="M11.29 17.71C11.3837 17.617 11.4581 17.5064 11.5089 17.3846C11.5597 17.2627 11.5858 17.132 11.5858 17C11.5858 16.868 11.5597 16.7373 11.5089 16.6154C11.4581 16.4936 11.3837 16.383 11.29 16.29L8 13L18 13C18.2652 13 18.5196 12.8946 18.7071 12.7071C18.8946 12.5196 19 12.2652 19 12C19 11.7348 18.8946 11.4804 18.7071 11.2929C18.5196 11.1054 18.2652 11 18 11L8 11L11.29 7.71C11.3837 7.61704 11.4581 7.50644 11.5089 7.38458C11.5597 7.26272 11.5858 7.13201 11.5858 7C11.5858 6.86799 11.5597 6.73728 11.5089 6.61542C11.4581 6.49356 11.3837 6.38296 11.29 6.29C11.1026 6.10375 10.8492 5.99921 10.585 5.99921C10.3208 5.99921 10.0674 6.10375 9.88 6.29L5.59 10.59C5.21441 10.9634 5.00223 11.4704 5 12C5.00486 12.5261 5.21684 13.0291 5.59 13.4L9.88 17.7C10.066 17.8876 10.3187 17.9939 10.5829 17.9958C10.8471 17.9977 11.1013 17.8949 11.29 17.71Z" fill="white"/>
        </svg>
      </a>

      <h1>Créez un compte !</h1>

      <p id="message"></p>
      <form class="register-form-email" onsubmit="handleRegister(event)">
        <input id="nom-input" class="register-input" placeholder="Nom*" type="text" name="nom" autocomplete="family-name">
        <input id="prenom-input" class="register-input" placeholder="Prénom*" type="text" name="prenom" autocomplete="given-name">
        <input id="email-input" class="register-input" type="text" name="email" placeholder="Adresse email*" autocomplete="email">

          <!-- Sélection d'une image de profil avec prévisualisation -->
          <label for="profile-picture" class="cta-select-profile-picture">Sélectionnez une image de profil</label>
          <input id="profile-picture" type="file" name="profile-picture" accept="image/*" style="display: none;">
          <img id="profile-picture-preview" src="" alt="Image de profil" style="display: none; width: 150px; height: 150px; object-fit: cover; margin-top: 10px;">


          <!-- Genre -->
            <div class="register-radio">
                <input type="radio" id="homme" name="genre" value="homme">
                <label for="homme">Homme</label>
                <input type="radio" id="femme" name="genre" value="femme">
                <label for="femme">Femme</label>
                <input type="radio" id="autre" name="genre" value="autre">
                <label for="autre">Autre</label>
            </div>
        <input id="password-input" class="register-input" type="password" name="password" placeholder="Mot de passe*" autocomplete="current-password">
        <p id="password-instructions" class="register-instructions-password">8 caractères, 1 majuscule, 1 chiffre</p>
        <button id="register-button" type="submit" class="cta-register-lock" disabled>Je m'inscris</button>
        <p class="register-p-mentions-legales">
          En continuant, vous acceptez les <a href="/mentionslegales">conditions d'utilisation</a> et la <a href="/politiqueconfidentialite">politique de confidentialité</a> de Smoozy.
        </p>
      </form>
      <p class="register-separator">ou</p>

      <p class="register-p-to-login">Déjà inscrit ? <a href="/login">Connectez-vous !</a></p>

    </section>

    <!-- Banniere des cookies -->
    <div id="cookie-banner" class="cookie-banner">
        <p>Nous utilisons des cookies pour améliorer votre expérience sur notre site. En poursuivant votre navigation, vous acceptez notre <a href="/politiqueconfidentialite">politique de confidentialité</a>.</p>
        <button onclick="acceptCookies()">Accepter</button>
    </div>

</main>

<script src="../register.js"></script>

</body>
</html>
