<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application Smoozy - Bienvenue à bord !</title>

    <!-- SEO Meta Tags -->
    <meta name="description" content="Bienvenue à bord de Smoozy! Transformez votre quotidien et créez une nouvelle dynamique familiale positive. 🚀">
    <meta name="author" content="Smoozy">

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Application Smoozy - Bienvenue à bord !">
    <meta property="og:description" content="Bienvenue à bord de Smoozy! Transformez votre quotidien et créez une nouvelle dynamique familiale positive. 🚀"
    <meta property="og:image" content="/img/Hero-Image.svg">
    <meta property="og:url" content="https://smoozy-app.com/success-register">
    <meta property="og:type" content="website">

    <!-- Canonical Link -->
    <link rel="canonical" href="https://smoozy-app.com/success-register">
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <link href="/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap" rel="stylesheet">

    <!-- Google Tag Manager -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DSKHG4RCJG"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-DSKHG4RCJG');
    </script>
</head>

<body style="background: #846DED">
    <!-- Message d'information pour les écrans de 600px et plus -->
    <div class="desktop-info-message">
        Pour visualiser cette page, veuillez utiliser un appareil mobile. (max-width:600px)
    </div>
<main class="mobile-only-content main-success-register">
  <h1>Bienvenue à bord, <span id="user-first-name">Gloria</span>!</h1>
  <p>Prêt à transformer votre quotidien ?
Embarquez avec nous et créez une nouvelle dynamique familiale positive. 🚀</p>
<img src="/img/Image.svg" alt="">

<div>
  <a href="/dashboard">C'est parti !</a>
</div>
</main>

    <!-- Banniere des cookies -->
    <div id="cookie-banner" class="cookie-banner">
        <p>Nous utilisons des cookies pour améliorer votre expérience sur notre site. En poursuivant votre navigation, vous acceptez notre <a href="/politiqueconfidentialite">politique de confidentialité</a>.</p>
        <button onclick="acceptCookies()">Accepter</button>
    </div>
    <script src="../success-register.js"></script>
</body>
</html>